force-app/main/default/flows/AML_High_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>customNotifTypeName</name>
            <value>
                <stringValue>User_Private_Notification_Alert</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>recipientCategory</name>
            <value>
                <stringValue>user</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>recipientSelection</name>
            <value>
                <stringValue>Gulf SIR Finance - Finance</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>recipientType</name>
            <value>
                <stringValue>user</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Notify FInance Team</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>000000000000000</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customNotifTypeName</name>
            <value>
                <stringValue>User_Private_Notification_Alert</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>AML High Alert {!myVariable_current.Closing_Name__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>AML High Alert {!myVariable_current.Closing_Name__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <stringValue>{!myVariable_current.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>recipientIds</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>500.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <name>recipientIds</name>
            <value>
                <elementReference>myCollection_myRule_1_A1recipientIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>myAssignment_myRule_1_A1</name>
        <label>myAssignment_myRule_1_A1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myCollection_myRule_1_A1recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0051t000001xyHvAAI</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_1_A1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myAssignment_myRule_1_A1</targetReference>
            </connector>
            <label>Is AML High</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(([pba__Closing__c].Nationality__r.Risk_Score__c + [pba__Closing__c].Second_Nationality__r.Risk_Score__c +[pba__Closing__c].Country_Of_Birth__r.Risk_Score__c +
[pba__Closing__c].Country_Of_Residence__r.Risk_Score__c  +
[pba__Closing__c].PEP__r.Risk_Score__c +
[pba__Closing__c].Employment_Type__r.Risk_Score__c +
[pba__Closing__c].Industry__r.Risk_Score__c +
[pba__Closing__c].Business_Location__r.Risk_Score__c +
[pba__Closing__c].Source_of_Fund_Wealth__r.Risk_Score__c ) &gt; 28,
[pba__Closing__c].Nationality__r.Risk_Score__c = 5,[pba__Closing__c].Second_Nationality__r.Risk_Score__c = 5,[pba__Closing__c].Country_Of_Birth__r.Risk_Score__c = 5,
[pba__Closing__c].Country_Of_Residence__r.Risk_Score__c  = 5,
[pba__Closing__c].PEP__r.Risk_Score__c = 5)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>OR(({!myVariable_current.Nationality__r.Risk_Score__c} + {!myVariable_current.Second_Nationality__r.Risk_Score__c} +{!myVariable_current.Country_Of_Birth__r.Risk_Score__c} +
{!myVariable_current.Country_Of_Residence__r.Risk_Score__c}  +
{!myVariable_current.PEP__r.Risk_Score__c} +
{!myVariable_current.Employment_Type__r.Risk_Score__c} +
{!myVariable_current.Industry__r.Risk_Score__c} +
{!myVariable_current.Business_Location__r.Risk_Score__c} +
{!myVariable_current.Source_of_Fund_Wealth__r.Risk_Score__c} ) &gt; 28,
{!myVariable_current.Nationality__r.Risk_Score__c} = 5,{!myVariable_current.Second_Nationality__r.Risk_Score__c} = 5,{!myVariable_current.Country_Of_Birth__r.Risk_Score__c} = 5,
{!myVariable_current.Country_Of_Residence__r.Risk_Score__c}  = 5,
{!myVariable_current.PEP__r.Risk_Score__c} = 5)</expression>
    </formulas>
    <interviewLabel>AML_High_Alert-1_InterviewLabel</interviewLabel>
    <label>AML High Alert</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>pba__Closing__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myCollection_myRule_1_A1recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>pba__Closing__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>pba__Closing__c</objectType>
    </variables>
</Flow>
