force-app/main/default/flows/Approval_Request_Status_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send Email to Approval</description>
        <name>Send_Email_to_Approval</name>
        <label>Send Email to Approval</label>
        <locationX>171</locationX>
        <locationY>363</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ApprovalRequestBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varApprovarEmailCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Property request Status Update</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Send Email to Approval After Approved</description>
        <name>Send_Email_to_Approval_After_Approved</name>
        <label>Send Email to Approval After Approved</label>
        <locationX>659</locationX>
        <locationY>365</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BodyApprovedEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varApprovedEmailColl</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Property request Status Update</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_Status_of_approval_request</name>
        <label>Check Status of approval request</label>
        <locationX>410</locationX>
        <locationY>361</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Status_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CD_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Approval</targetReference>
            </connector>
            <label>If Status Pending</label>
        </rules>
        <rules>
            <name>If_status_Approved_Declined</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CD_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CD_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CD_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CD_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Approval_After_Approved</targetReference>
            </connector>
            <label>If status Approved /Declined</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>varApprovarEmailCollection</name>
        <dataType>String</dataType>
        <expression>{!$Record.CD_Approver_Name__r.Email}</expression>
    </formulas>
    <formulas>
        <name>varApprovedEmailColl</name>
        <dataType>String</dataType>
        <expression>{!$Record.Property__r.CD_Project__r.Project_Admin__r.Email}+&quot;,&quot;+{!$Record.CD_Approver_Name__r.Email}</expression>
    </formulas>
    <interviewLabel>Approval Request Status Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approval Request Status Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>292</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Status_of_approval_request</targetReference>
        </connector>
        <object>CD_Approval_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ApprovalRequestBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.CD_Approver_Name__r.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Approval Request Name : &lt;strong&gt;{!$Record.Name}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Agent Name : &lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.CD_AgentName_txt__c}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Project Name : &lt;strong&gt;{!$Record.Property__r.CD_Project__r.Name}&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Property : &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Property__r.Name}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Block Date : &lt;strong&gt;{!$Record.CD_Block_Date__c}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://gulfsothebysinternational.lightning.force.com/lightning/n/Approval_Request&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click Here  &lt;/a&gt;to see in details.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks&lt;/p&gt;&lt;p&gt;Team LUX&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>BodyApprovedEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Property__r.CD_Project__r.Project_Admin__r.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Approval Request Name : &lt;strong&gt;{!$Record.Name}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Agent Name : &lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.CD_AgentName_txt__c}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Project Name : &lt;strong&gt;{!$Record.Property__r.CD_Project__r.Name}&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Property : &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Property__r.Name}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Property &lt;strong&gt;{!$Record.Property__r.Name}&lt;/strong&gt; Is &lt;strong&gt;{!$Record.CD_Status__c}&lt;/strong&gt; by &lt;strong&gt;{!$Record.CD_Approver_Name__c}&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Block Date : &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.CD_Block_Date__c}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks&lt;/p&gt;&lt;p&gt;Team LUX&lt;/p&gt;</text>
    </textTemplates>
</Flow>
