force-app/main/default/flows/Assign_User_For_Contetn_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email_to_assigned_user</name>
        <label>Send email to assigned user</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <actionName>Listing_Form__c.Content_Request_Form</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Listing_Form__c.Content_Request_Form</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>send_email_to_user</name>
        <label>send email to user</label>
        <locationX>578</locationX>
        <locationY>1079</locationY>
        <actionName>Listing_Form__c.Content_Request_Form</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Listing_Form__c.Content_Request_Form</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Get_Assignment_group_member.Last_Assigned_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Assignment_group_member.No_of_Record_Assigned__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Gs_assignmnet</name>
        <label>Gs assignmnet</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Get_Assignment_Member_GS.Last_Assigned_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Assignment_Member_GS.No_of_Record_Assigned__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Assignment_GS</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Enter_Creteria</name>
        <label>Check Enter Creteria</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Countiune_process</name>
            <conditionLogic>(1 AND 3 ) OR 2</conditionLogic>
            <conditions>
                <leftValueReference>LastContetnActivityDays</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Assignment_Group</targetReference>
            </connector>
            <label>Countiune process</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_region</name>
        <label>check region</label>
        <locationX>644</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Listing__r.Listing_Initials__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Enter_Creteria</targetReference>
            </connector>
            <label>UK</label>
        </rules>
        <rules>
            <name>GS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Listing__r.Listing_Initials__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Check_Enter_Creteria</targetReference>
            </connector>
            <label>GS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Enter_Creteria</name>
        <label>Copy 1 of Check Enter Creteria</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Countiune_process</name>
            <conditionLogic>(1 AND 3 ) OR 2</conditionLogic>
            <conditions>
                <leftValueReference>LastContetnActivityDays</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_GS_group</targetReference>
            </connector>
            <label>Copy 1 of Countiune process</label>
        </rules>
    </decisions>
    <description>Added email alerts</description>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>Isnew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>LastContetnActivityDays</name>
        <dataType>Number</dataType>
        <expression>NOW()-{!$Record.LastModifiedDate}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Assign User For Contetn Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign User For Contetn Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Assignment_Group</name>
        <label>Get Assignment Group</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assignment_group_member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UK Content Writers</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Assignment_Group__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assignment_group_member</name>
        <label>Get Assignment group member</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Assignment_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Assignment_Group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Assignment_Group_Member__c</object>
        <sortField>Last_Assigned_Date_Time__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assignment_Member_GS</name>
        <label>Get Assignment Member GS</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_Gs_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Assignment_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_GS_group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Assignment_Group_Member__c</object>
        <sortField>Last_Assigned_Date_Time__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_GS_group</name>
        <label>Get GS group</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assignment_Member_GS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UAE Content Writers</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Assignment_Group__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Assignment_GS</name>
        <label>Update Assignment GS</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>send_email_to_user</targetReference>
        </connector>
        <inputReference>Get_Assignment_Member_GS</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Gs_Record</name>
        <label>update Gs Record</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Gs_assignmnet</targetReference>
        </connector>
        <inputAssignments>
            <field>Content_Request_User__c</field>
            <value>
                <elementReference>Get_Assignment_Member_GS.User__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Assignment</targetReference>
        </connector>
        <inputAssignments>
            <field>Content_Request_User__c</field>
            <value>
                <elementReference>Get_Assignment_group_member.User__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAssignment</name>
        <label>UpdateAssignment</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Send_email_to_assigned_user</targetReference>
        </connector>
        <inputReference>Get_Assignment_group_member</inputReference>
    </recordUpdates>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_region</targetReference>
        </connector>
        <object>Listing_Form__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
