force-app/main/default/flows/CIF_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>189</locationX>
        <locationY>777</locationY>
        <actionName>CIF__c.Create_CIF_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CIF__c.Create_CIF_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_To_Cityscape_Project_Team</name>
        <label>Send Email To Cityscape Project Team</label>
        <locationX>18</locationX>
        <locationY>720</locationY>
        <actionName>CIF__c.CIF_Email_Alert_for_Cityscape_project</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CIF__c.CIF_Email_Alert_for_Cityscape_project</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Dubai_team</name>
        <label>Send Email to Dubai team</label>
        <locationX>922</locationX>
        <locationY>550</locationY>
        <actionName>CIF__c.CIF_UAE_Contact_Request_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CIF__c.CIF_UAE_Contact_Request_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Saudi</name>
        <label>Send Email to Saudi</label>
        <locationX>359</locationX>
        <locationY>725</locationY>
        <actionName>CIF__c.Create_CIF_Email_Alert_Saudi</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CIF__c.Create_CIF_Email_Alert_Saudi</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_SAUDI_team</name>
        <label>Send Email to SAUDI team</label>
        <locationX>696</locationX>
        <locationY>558</locationY>
        <actionName>CIF__c.CIF_SAUDI_Contact_Request_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CIF__c.CIF_SAUDI_Contact_Request_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_United_Kingdom_team</name>
        <label>Send Email to United Kingdom team</label>
        <locationX>455</locationX>
        <locationY>542</locationY>
        <actionName>CIF__c.CIF_Contact_Request_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CIF__c.CIF_Contact_Request_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_for_currency</name>
        <label>Check for currency</label>
        <locationX>184</locationX>
        <locationY>443</locationY>
        <defaultConnector>
            <targetReference>Send_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_currency_is_SAR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project__r.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Saudi</targetReference>
            </connector>
            <label>If currency is SAR</label>
        </rules>
        <rules>
            <name>If_Project_is_Cityscape</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a2D7T000001IksrUAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_To_Cityscape_Project_Team</targetReference>
            </connector>
            <label>If Project is Cityscape</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Project_Admin</name>
        <label>Check Project Admin</label>
        <locationX>684</locationX>
        <locationY>371</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Project_Admin</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_Admin__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project_Admin_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CIF_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CONTACT REQUEST</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_currency</targetReference>
            </connector>
            <label>Project Admin</label>
        </rules>
        <rules>
            <name>United_Kingdom_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CIF_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CONTACT REQUEST</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a2D7T00000GvFtpUAF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_United_Kingdom_team</targetReference>
            </connector>
            <label>United Kingdom Project</label>
        </rules>
        <rules>
            <name>Saudi_Arabia_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CIF_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CONTACT REQUEST</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a2D7T00000GvGKtUAN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_SAUDI_team</targetReference>
            </connector>
            <label>Saudi Arabia Project</label>
        </rules>
        <rules>
            <name>Dubai_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CIF_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CONTACT REQUEST</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a2D7T00000GvGKsUAN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Dubai_team</targetReference>
            </connector>
            <label>Dubai Project</label>
        </rules>
    </decisions>
    <description>If the CIF type is Contact request and the project is UK, Saudi Arabia, or the UAE, then an email will be sent to the respective group. Additionally, if the project currency is &apos;SAR,&apos; then an email will be sent to a specific group.</description>
    <environments>Default</environments>
    <interviewLabel>CIF Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CIF Flow Send Email Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>558</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Project_Admin</targetReference>
        </connector>
        <object>CIF__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
