force-app/main/default/flows/CIF_After_flow_check_duplicates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_for_Duplicate_Records</name>
        <label>Check for Duplicate Records</label>
        <locationX>930</locationX>
        <locationY>455</locationY>
        <actionName>DuplicateRecordCheck_Invocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Duplicate_value</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>VarContact</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DuplicateRecordCheck_Invocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Check_for_Duplicate_Records0</name>
        <label>Check for Duplicate Records</label>
        <locationX>1301</locationX>
        <locationY>515</locationY>
        <actionName>DuplicateRecordCheck_Invocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Duplicate_value0</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>VarContact</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DuplicateRecordCheck_Invocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>check_for_Duplicate_records1</name>
        <label>check for Duplicate records</label>
        <locationX>1834</locationX>
        <locationY>325</locationY>
        <actionName>DuplicateRecordCheck_Invocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_duplicate_contact</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>VarContact</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DuplicateRecordCheck_Invocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Check_for_Duplicate_Records2</name>
        <label>Check for Duplicate Records</label>
        <locationX>1670</locationX>
        <locationY>582</locationY>
        <actionName>DuplicateRecordCheck_Invocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>If_Duplicate_Record_Found</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>VarContact</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DuplicateRecordCheck_Invocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Check_for_Duplicate_Records3</name>
        <label>Check for Duplicate Records</label>
        <locationX>2130</locationX>
        <locationY>963</locationY>
        <actionName>DuplicateRecordCheck_Invocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>If_Duplicate_Record_Found3</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>VarContact</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DuplicateRecordCheck_Invocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Email_and_Mobile</name>
        <label>Assign Email and Mobile</label>
        <locationX>1301</locationX>
        <locationY>358</locationY>
        <assignmentItems>
            <assignToReference>VarContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.E_MAIL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarContact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Mobile__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Duplicate_Records0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_and_phone</name>
        <label>Assign Email and phone</label>
        <locationX>1833</locationX>
        <locationY>125</locationY>
        <assignmentItems>
            <assignToReference>VarContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.E_MAIL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarContact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Mobile__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_for_Duplicate_records1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_mobile3</name>
        <label>Assign Email, mobile</label>
        <locationX>1931</locationX>
        <locationY>964</locationY>
        <assignmentItems>
            <assignToReference>VarContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.E_MAIL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarContact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Mobile__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Duplicate_Records3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Mobile_BRN</name>
        <label>Assign Email, Mobile ,BRN</label>
        <locationX>956</locationX>
        <locationY>295</locationY>
        <assignmentItems>
            <assignToReference>VarContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.x3rd_Party_Agent_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarContact.BRN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.x3rd_Party_Agent_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarContact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.x3rd_Party_Agent_Mobile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarContact.Agency_Trade_License_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.x3rd_Party_Agency_Rera_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarContact.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.x3rd_Party_Agency_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Duplicate_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_mobile_BRN2</name>
        <label>Assign Email, mobile, BRN</label>
        <locationX>1667</locationX>
        <locationY>438</locationY>
        <assignmentItems>
            <assignToReference>VarContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.x3rd_Party_Agent_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarContact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.x3rd_Party_Agent_Mobile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarContact.BRN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.x3rd_Party_Agent_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarContact.Agency_Trade_License_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.x3rd_Party_Agency_Rera_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarContact.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.x3rd_Party_Agency_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Duplicate_Records2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_duplicate_contact</name>
        <label>Check duplicate contact</label>
        <locationX>1826</locationX>
        <locationY>521</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>check_for_Duplicate_records1.duplicate.duplicateRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>check_for_Duplicate_records1.duplicate.isDuplicate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_CIF_Type</name>
        <label>Check for CIF Type</label>
        <locationX>1466</locationX>
        <locationY>115</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_CIF_Type_is_Direct_Buyer_and_Link_to_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CIF_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DIRECT BUYER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Email_and_Mobile</targetReference>
            </connector>
            <label>If CIF Type is Direct Buyer and Link to Project</label>
        </rules>
        <rules>
            <name>If_CIF_Type_is_Contact_Request_and_Link_to_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CIF_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CONTACT REQUEST</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Email_and_phone</targetReference>
            </connector>
            <label>If CIF Type is Contact Request and Link to Project</label>
        </rules>
        <rules>
            <name>If_CIF_Type_is_Agency_Briefing_and_link_to_project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CIF_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AGENCY BRIEFING</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Email_Mobile_BRN</targetReference>
            </connector>
            <label>If CIF Type is Agency Briefing and link to project</label>
        </rules>
        <rules>
            <name>If_CIF_Type_is_Agency_Buyer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CIF_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AGENCY BUYER</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Email_mobile_BRN2</targetReference>
            </connector>
            <label>If CIF Type is Agency Buyer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_currency</name>
        <label>Check for currency</label>
        <locationX>1469</locationX>
        <locationY>873</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_currency_is_AED</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project__r.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_LUXHABITAT</targetReference>
            </connector>
            <label>If currency is AED</label>
        </rules>
        <rules>
            <name>If_Currency_is_SAR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project__r.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Saudi_Arabia</targetReference>
            </connector>
            <label>If currency is SAR</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Duplicate_Record_Found</name>
        <label>If Duplicate Record Found</label>
        <locationX>1665</locationX>
        <locationY>728</locationY>
        <defaultConnector>
            <targetReference>Assign_Email_mobile3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_Duplicate_Records2.duplicate.duplicateRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_Duplicate_Records2.duplicate.isDuplicate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_B2B_Agent2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Duplicate_Record_Found3</name>
        <label>If Duplicate Record Found</label>
        <locationX>2124</locationX>
        <locationY>1121</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_Duplicate_Records3.duplicate.duplicateRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_Duplicate_Records3.duplicate.isDuplicate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_client3</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Duplicate_value</name>
        <label>Is Duplicate value</label>
        <locationX>914</locationX>
        <locationY>626</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_Duplicate_Records.duplicate.duplicateRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_Duplicate_Records.duplicate.isDuplicate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_B2B_agent</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Duplicate_value0</name>
        <label>Is Duplicate value</label>
        <locationX>1294</locationX>
        <locationY>683</locationY>
        <defaultConnector>
            <targetReference>Check_for_currency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_Duplicate_Records0.duplicate.duplicateRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_Duplicate_Records0.duplicate.isDuplicate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CIF_Client</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>When a record is created, check for duplicate records. If a record exists, update that record.</description>
    <environments>Default</environments>
    <interviewLabel>CIF After flow check duplicates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CIF After flow check duplicates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Check_Error</name>
        <label>Check Error</label>
        <locationX>838</locationX>
        <locationY>997</locationY>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MethodName__c</field>
            <value>
                <stringValue>Update B2B agent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>CIF - After flow - Check for duplicate contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectID__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>CIF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Check_Error1</name>
        <label>Check Error</label>
        <locationX>1089</locationX>
        <locationY>1007</locationY>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MethodName__c</field>
            <value>
                <stringValue>Update CIF Client</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>CIF - After flow - Check for duplicate contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectID__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>CIF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Check_Error4</name>
        <label>Check Error</label>
        <locationX>1987</locationX>
        <locationY>1436</locationY>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MethodName__c</field>
            <value>
                <stringValue>Update CIF Client</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>CIF - After flow - Check for duplicate contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectID__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>CIF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Check_Error_2</name>
        <label>Check Error 2</label>
        <locationX>1123</locationX>
        <locationY>1297</locationY>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MethodName__c</field>
            <value>
                <stringValue>Update Contact - LUXHABITAT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>CIF - After flow - Check for duplicate contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectID__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>CIF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Checked_Error</name>
        <label>Checked Error</label>
        <locationX>2056</locationX>
        <locationY>741</locationY>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MethodName__c</field>
            <value>
                <stringValue>Update Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>CIF - After flow - Check for duplicate contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectID__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>CIF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Checked_Error3</name>
        <label>Checked Error</label>
        <locationX>1575</locationX>
        <locationY>1351</locationY>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MethodName__c</field>
            <value>
                <stringValue>Update Contact - Saudi Arabia</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>CIF - After flow - Check for duplicate contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectID__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>CIF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Checked_Error4</name>
        <label>Checked Error</label>
        <locationX>1798</locationX>
        <locationY>1131</locationY>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MethodName__c</field>
            <value>
                <stringValue>Update B2B Agent2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>CIF - After flow - Check for duplicate contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectID__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>CIF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_B2B_agent</name>
        <label>Update B2B agent</label>
        <locationX>926</locationX>
        <locationY>841</locationY>
        <faultConnector>
            <targetReference>Check_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>B2B_Agent__c</field>
            <value>
                <elementReference>Check_for_Duplicate_Records.duplicate.duplicateRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>CIF__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_B2B_Agent2</name>
        <label>Update B2B Agent</label>
        <locationX>1681</locationX>
        <locationY>966</locationY>
        <connector>
            <targetReference>Assign_Email_mobile3</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Checked_Error4</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>B2B_Agent__c</field>
            <value>
                <elementReference>Check_for_Duplicate_Records2.duplicate.duplicateRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CIF_Client</name>
        <label>Update CIF Client</label>
        <locationX>1301</locationX>
        <locationY>879</locationY>
        <connector>
            <targetReference>Check_for_currency</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Check_Error1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Third_Party_Agency_Client__c</field>
            <value>
                <elementReference>Check_for_Duplicate_Records0.duplicate.duplicateRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>CIF__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_client3</name>
        <label>Update CIF client</label>
        <locationX>2133</locationX>
        <locationY>1348</locationY>
        <faultConnector>
            <targetReference>Check_Error4</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Third_Party_Agency_Client__c</field>
            <value>
                <elementReference>Check_for_Duplicate_Records3.duplicate.duplicateRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>1837</locationX>
        <locationY>785</locationY>
        <faultConnector>
            <targetReference>Checked_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Client_Agent__c</field>
            <value>
                <elementReference>check_for_Duplicate_records1.duplicate.duplicateRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>CIF__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_LUXHABITAT</name>
        <label>Update Contact - LUXHABITAT</label>
        <locationX>1331</locationX>
        <locationY>1213</locationY>
        <faultConnector>
            <targetReference>Check_Error_2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Client_Agent__c</field>
            <value>
                <stringValue>0033X00003uRbeRQAS</stringValue>
            </value>
        </inputAssignments>
        <object>CIF__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Saudi_Arabia</name>
        <label>Update Contact - Saudi Arabia</label>
        <locationX>1620</locationX>
        <locationY>1183</locationY>
        <faultConnector>
            <targetReference>Checked_Error3</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Client_Agent__c</field>
            <value>
                <stringValue>0037T00000QU5biQAD</stringValue>
            </value>
        </inputAssignments>
        <object>CIF__c</object>
    </recordUpdates>
    <start>
        <locationX>619</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_for_CIF_Type</targetReference>
        </connector>
        <object>CIF__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VarContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
