force-app/main/default/flows/Closing_Commission_Email_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cheque_Released_by_Finance_is_True</name>
        <label>Cheque Released by Finance is True</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Closing_Commission__c.Closing_Commission_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Closing_Commission__c.Closing_Commission_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Checked_Cheque_Released_by_Finance</name>
        <label>Checked- Cheque Released by Finance</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IF_True</name>
            <conditionLogic>(1 AND 2 ) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cheque_Released_by_Finance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cheque_Released_by_Finance__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lux_Agent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cheque_Released_by_Finance_is_True</targetReference>
            </connector>
            <label>IF True</label>
        </rules>
    </decisions>
    <description>When record is created or updated and cheque released by finance is true and changed, then send email alert to its Internal Agent.</description>
    <environments>Default</environments>
    <interviewLabel>Closing Commission Email Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Closing Commission Cheque released by Finance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Checked_Cheque_Released_by_Finance</targetReference>
        </connector>
        <object>Closing_Commission__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
