force-app/main/default/flows/Closing_After_Flow_When_Closing_Created_From_Conveyances.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>When_Conveyance_Not_Blank</name>
        <label>When Conveyance Not Blank</label>
        <locationX>290</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Conveynace_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Conveyance__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Finance_Queue</targetReference>
            </connector>
            <label>Conveyance Not Null</label>
        </rules>
    </decisions>
    <description>When record is created and conveyance is not null, Create task and assign to finance queue
and create closing commision on Conveyane Contract Role if role is 
3rd Party Agent, Lux Agent and for all Seller/ Buyer.</description>
    <environments>Default</environments>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Closing : When Created From Conveyance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Closing : After Flow When Closing Created From Conveyance</label>
    <loops>
        <name>Loop_For_3rd_Party_Agents_Iteration</name>
        <label>Loop For 3rd Party Agents Iteration</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_convenyance_contact_roles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Closing_Commission_For_3rd_Party_Agent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_CRR_All_Lux_Agents</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_For_All_Lux_Agent_Iteration</name>
        <label>Loop For Lux Agent Iteration</label>
        <locationX>50</locationX>
        <locationY>1403</locationY>
        <collectionReference>Get_CRR_All_Lux_Agents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Closing_Commission_For_Lux_Agents</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_CCR_All_Seller_Buyer</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_For_All_Seller_Buyer_Iteration</name>
        <label>Loop For All Seller/Buyer Iteration</label>
        <locationX>50</locationX>
        <locationY>2051</locationY>
        <collectionReference>Get_CCR_All_Seller_Buyer</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Contact_Role_For_Seller_Buyer</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Check_Error_1</name>
        <label>Check Error 1</label>
        <locationX>402</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MethodName__c</field>
            <value>
                <stringValue>Create Closing Commission For 3rd Party Agent.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>Closing: After Flow When Closing Created From Conveyance.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectID__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Closing Commision</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Check_Error_1</name>
        <label>Check Error 2</label>
        <locationX>402</locationX>
        <locationY>1619</locationY>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MethodName__c</field>
            <value>
                <stringValue>Create Closing Commission For Lux Agent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>Closing: After Flow When Closing Created From Conveyance.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectID__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Closing Commision</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Check_Error_1</name>
        <label>Check Error 3</label>
        <locationX>402</locationX>
        <locationY>2267</locationY>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MethodName__c</field>
            <value>
                <stringValue>Create Closing Commission For Seller/Buyer.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>Closing: After Flow When Closing Created From Conveyance.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectID__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Closing Commision</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Closing_Commission_For_3rd_Party_Agent</name>
        <label>Create Closing Commission For 3rd Party Agent</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Loop_For_3rd_Party_Agents_Iteration</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Check_Error_1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Closing__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Amount__c</field>
            <value>
                <elementReference>$Record.External_Party_Commission__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Third_Party_Agent__c</field>
            <value>
                <elementReference>Loop_For_3rd_Party_Agents_Iteration.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Closing_Commission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Closing_Commission_For_Lux_Agents</name>
        <label>Create Closing Commission For Lux Agents</label>
        <locationX>138</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Loop_For_All_Lux_Agent_Iteration</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Check_Error_1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Agent_Type__c</field>
            <value>
                <stringValue>Resale Broker</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closing__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lux_Agent__c</field>
            <value>
                <elementReference>Loop_For_All_Lux_Agent_Iteration.Lux_Agent__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Closing_Commission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Role_For_Seller_Buyer</name>
        <label>Create Contact Role For Seller/Buyer</label>
        <locationX>138</locationX>
        <locationY>2159</locationY>
        <connector>
            <targetReference>Loop_For_All_Seller_Buyer_Iteration</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_2_of_Check_Error_1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Closing__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <elementReference>Loop_For_All_Seller_Buyer_Iteration.Role__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pba__Contact__c</field>
            <value>
                <elementReference>Loop_For_All_Seller_Buyer_Iteration.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>pba__ContactRole__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_On_Closing</name>
        <label>Create Task On Closing</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_convenyance_contact_roles</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Finance_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Create Invoice for Commission &amp; Send to Conveyancing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_CCR_All_Seller_Buyer</name>
        <label>Get CCR All Seller/Buyer</label>
        <locationX>50</locationX>
        <locationY>1943</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_For_All_Seller_Buyer_Iteration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Conveyance__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Conveyance__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>3rd Party Agent</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Conveyance_Contact_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_convenyance_contact_roles</name>
        <label>Get CCR All 3rd Party Agent</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_For_3rd_Party_Agents_Iteration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Conveyance__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Conveyance__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3rd Party Agent</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Conveyance_Contact_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CRR_All_Lux_Agents</name>
        <label>Get CRR All Lux Agents</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_For_All_Lux_Agent_Iteration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Conveyance__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Conveyance__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lux_Agent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Conveyance_Contact_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Finance_Queue</name>
        <label>Get Finance Queue</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Task_On_Closing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Finance</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>164</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>When_Conveyance_Not_Blank</targetReference>
        </connector>
        <object>pba__Closing__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>errorlog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Error_Log__c</objectType>
    </variables>
</Flow>
