force-app/main/default/flows/Closing_After_Flow_Update_Files_From_Inquiry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AddToList</name>
        <label>AddToList</label>
        <locationX>138</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>ContentDocLinkList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleContentDocLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateContentDocLinks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_AddToList</name>
        <label>AddToList</label>
        <locationX>842</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>ContentDocLinkList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleContentDocLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_IterateContentDocLinks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_CreateSingleContentDocLink</name>
        <label>CreateSingleContentDocLink</label>
        <locationX>842</locationX>
        <locationY>1619</locationY>
        <assignmentItems>
            <assignToReference>SingleContentDocLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleContentDocLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_IterateContentDocLinks.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_AddToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateSingleContentDocLink</name>
        <label>CreateSingleContentDocLink</label>
        <locationX>138</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>SingleContentDocLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleContentDocLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateContentDocLinks.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Duplicates_Files</name>
        <label>Check Duplicates Files</label>
        <locationX>611</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Check_Winning_Inquiry_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Closing_Files.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateSingleContentDocLink</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Winning_Inquiry_Exist</name>
        <label>Check Winning Inquiry Exist</label>
        <locationX>1084</locationX>
        <locationY>971</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES11</name>
            <conditionLogic>(1 AND 4) OR (1 AND 2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Winning_Inquiry__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resync_Inquiry_Contract_Files__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resync_Inquiry_Contract_Files__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRelatedDocumentLink_0</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Duplicates_Files</name>
        <label>Check Duplicates Files</label>
        <locationX>974</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_IterateContentDocLinks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Closing_Files.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_CreateSingleContentDocLink</targetReference>
            </connector>
            <label>Copy 1 of Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_any_Files</name>
        <label>Is there any Files?</label>
        <locationX>257</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Winning_Inquiry_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRelatedDocumentLink</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IterateContentDocLinks</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_any_Files_0</name>
        <label>Is there any Files?</label>
        <locationX>886</locationX>
        <locationY>1187</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRelatedDocumentLink_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_IterateContentDocLinks</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>When_Closing_Creates</name>
        <label>When Closing Creates</label>
        <locationX>492</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Winning_Inquiry_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Conveyance</name>
            <conditionLogic>(1 AND 4) OR (1 AND 2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Conveyance__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resync_Inquiry_Contract_Files__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resync_Inquiry_Contract_Files__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRelatedDocumentLink</targetReference>
            </connector>
            <label>Check Conveyance</label>
        </rules>
    </decisions>
    <description>The flow is triggered when a &quot;Closing&quot; record is created.
Verify if the &quot;Contract&quot; is not null.
Check if the &quot;Resync/Contract Files&quot; checkbox is true.
Retrieve all Content Document Links where the &quot;Contract&quot; is linked.
If records are not found, proceed to the next step.
Retrieve all files associated with the &quot;Closing&quot; record.
Check for duplicates among the retrieved files.
If duplicates exist, create a single Content Document Link and add it to a list.
If duplicates do not exist, check if a &quot;Winning Inquiry&quot; record exists.
If the &quot;Winning Inquiry&quot; exists, retrieve the related Document Links.
Verify if there are any files associated with the related Document Links.
If files exist, get the Closing Files and check for duplicated files.
If duplicated files are found, create a single Content Document Link and add it to the list.
Update the &quot;Resync/Contract Files&quot; checkbox to false.</description>
    <environments>Default</environments>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Closing : After Flow (Update Files From Closing) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Closing : After Flow (Update Files From Inquiry)</label>
    <loops>
        <name>Copy_1_of_IterateContentDocLinks</name>
        <label>IterateContentDocLinks</label>
        <locationX>754</locationX>
        <locationY>1295</locationY>
        <collectionReference>GetRelatedDocumentLink_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Get_Closing_Files</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_CreateClosingContentDocLinks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>IterateContentDocLinks</name>
        <label>IterateContentDocLinks</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>GetRelatedDocumentLink</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Closing_Files</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateClosingContentDocLinks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_CreateClosingContentDocLinks</name>
        <label>CreateClosingContentDocLinks</label>
        <locationX>754</locationX>
        <locationY>2003</locationY>
        <connector>
            <targetReference>Copy_1_of_Checkbox_False</targetReference>
        </connector>
        <inputReference>ContentDocLinkList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateClosingContentDocLinks</name>
        <label>CreateClosingContentDocLinks</label>
        <locationX>50</locationX>
        <locationY>2663</locationY>
        <connector>
            <targetReference>Checkbox_False</targetReference>
        </connector>
        <inputReference>ContentDocLinkList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Closing_Files</name>
        <label>Get Closing Files</label>
        <locationX>974</locationX>
        <locationY>1403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Check_Duplicates_Files</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_IterateContentDocLinks.ContentDocumentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Closing_Files</name>
        <label>Get Closing Files</label>
        <locationX>611</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Duplicates_Files</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IterateContentDocLinks.ContentDocumentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedDocumentLink</name>
        <label>GetRelatedDocumentLink</label>
        <locationX>257</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_any_Files</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Conveyance__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedDocumentLink_0</name>
        <label>GetRelatedDocumentLink</label>
        <locationX>886</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_any_Files_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Winning_Inquiry__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Checkbox_False</name>
        <label>Checkbox False</label>
        <locationX>50</locationX>
        <locationY>2771</locationY>
        <inputAssignments>
            <field>Resync_Inquiry_Contract_Files__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Checkbox_False</name>
        <label>Checkbox False</label>
        <locationX>754</locationX>
        <locationY>2111</locationY>
        <inputAssignments>
            <field>Resync_Inquiry_Contract_Files__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>366</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>When_Closing_Creates</targetReference>
        </connector>
        <object>pba__Closing__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ContentDocLinkList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>Contentdocument</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>MultipleDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>NewContentDocLink</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>RelatedContentocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>SingleContentDocLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
</Flow>
