force-app/main/default/flows/Contract_Update_Exchanged_And_Completed_On_Listing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Exchanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exchanged</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Listing_Sub_Status_Exchanged</targetReference>
            </connector>
            <label>Update Exchanged</label>
        </rules>
        <rules>
            <name>Update_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Listing_Sub_Status_Completed</targetReference>
            </connector>
            <label>Update Completed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contract - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract - Update Exchanged And Completed On Listing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Error_Log</name>
        <label>Error Log</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MethodName__c</field>
            <value>
                <stringValue>create task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectID__c</field>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Error_Log_0</name>
        <label>Error Log</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MethodName__c</field>
            <value>
                <stringValue>create task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectID__c</field>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Listing_Sub_Status_Completed</name>
        <label>Update Listing Sub Status - Completed</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <faultConnector>
            <targetReference>Error_Log_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Listing_L__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Listing_Sub_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>pba__Listing__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Listing_Sub_Status_Exchanged</name>
        <label>Update Listing Sub Status - Exchanged</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <faultConnector>
            <targetReference>Error_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Listing_L__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Listing_Sub_Status__c</field>
            <value>
                <stringValue>Exchanged</stringValue>
            </value>
        </inputAssignments>
        <object>pba__Listing__c</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Listing_L__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Conveyance__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
