force-app/main/default/flows/Contract_Mgmt_Send_custom_notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Custom_Notification_1_month</name>
        <label>Send Custom Notification 1 month</label>
        <locationX>314</locationX>
        <locationY>803</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds1MonthBefore</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody1Month</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Custom_Notification_2_days</name>
        <label>Send Custom Notification 2 days</label>
        <locationX>50</locationX>
        <locationY>803</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds2DaysBefore</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody2Days</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Custom_Notification_3_Months</name>
        <label>Send Custom Notification 3 Months</label>
        <locationX>578</locationX>
        <locationY>803</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds3MonthsBefore</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody3Months</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Custom_Notification_6_months</name>
        <label>Send Custom Notification 6 months</label>
        <locationX>842</locationX>
        <locationY>803</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds6MonthsBefore</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody6Months</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>CollectRecipient1Month</name>
        <label>CollectRecipient1Month</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>RecipientIds1MonthBefore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Custom_Notification_1_month</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CollectRecipient2Days</name>
        <label>CollectRecipient2Days</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>RecipientIds2DaysBefore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Custom_Notification_2_days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CollectRecipient3Months</name>
        <label>CollectRecipient3Months</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>RecipientIds3MonthsBefore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Custom_Notification_3_Months</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CollectRecipient6Months</name>
        <label>CollectRecipient6Months</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>RecipientIds6MonthsBefore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Custom_Notification_6_months</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Will decide which path to use based on Contract End date.</description>
        <name>assign_email_alert_as_per_date</name>
        <label>assign email alert as per date</label>
        <locationX>578</locationX>
        <locationY>587</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X2_days_before</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>twoDaysBeforeEndDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CollectRecipient2Days</targetReference>
            </connector>
            <label>2 days before</label>
        </rules>
        <rules>
            <name>X1_month_before</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>oneMonthBeforeEndDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CollectRecipient1Month</targetReference>
            </connector>
            <label>1 month before</label>
        </rules>
        <rules>
            <name>X3_months_before</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>threeMonthsBeforeEndDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CollectRecipient3Months</targetReference>
            </connector>
            <label>3 months before</label>
        </rules>
        <rules>
            <name>X6_months_before</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sixMonthsBeforeEndDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CollectRecipient6Months</targetReference>
            </connector>
            <label>6 months before</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_date</name>
        <label>check date</label>
        <locationX>974</locationX>
        <locationY>371</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>previous_date_doesn_t_equal_new_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.EndDate__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.EndDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_Type</targetReference>
            </connector>
            <label>previous date doesn&apos;t equal new date</label>
        </rules>
    </decisions>
    <description>Will send out emails immediately on creation or updation whenever the date is -
1) 2 days before 2) 1 month before 3) 3 months before 4) 6 months before the
Contract end date</description>
    <environments>Default</environments>
    <formulas>
        <name>oneMonthBeforeEndDate</name>
        <dataType>Date</dataType>
        <expression>DATE(
    YEAR({!$Record.EndDate__c}), 
    MONTH({!$Record.EndDate__c}) - 1, 
    DAY({!$Record.EndDate__c})
)</expression>
    </formulas>
    <formulas>
        <name>sixMonthsBeforeEndDate</name>
        <dataType>Date</dataType>
        <expression>DATE(
    YEAR({!$Record.EndDate__c}), 
    MONTH({!$Record.EndDate__c}) - 6, 
    DAY({!$Record.EndDate__c})
)</expression>
    </formulas>
    <formulas>
        <name>threeMonthsBeforeEndDate</name>
        <dataType>Date</dataType>
        <expression>DATE(
    YEAR({!$Record.EndDate__c}), 
    MONTH({!$Record.EndDate__c}) - 3, 
    DAY({!$Record.EndDate__c})
)</expression>
    </formulas>
    <formulas>
        <name>twoDaysBeforeEndDate</name>
        <dataType>Date</dataType>
        <expression>DATE(
    YEAR({!$Record.EndDate__c}), 
    MONTH({!$Record.EndDate__c}), 
    DAY({!$Record.EndDate__c} - 2)
)</expression>
    </formulas>
    <interviewLabel>Contract Mgmt | Send email notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Mgmt | Send custom notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Notification_Type</name>
        <label>Get Notification Type</label>
        <locationX>578</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_email_alert_as_per_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract_Management_expiry_notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>848</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>check_date</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>EndDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EndDate__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contract_Management__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NotificationBody1Month</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Contract - {!$Record.Name} is about to get expired in 1 month.</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationBody2Days</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Contract - {!$Record.Name} is about to get expired in 2 days.</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationBody3Months</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Contract - {!$Record.Name} is about to get expired in 3 months.</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationBody6Months</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Contract - {!$Record.Name} is about to get expired in 6 months.</text>
    </textTemplates>
    <variables>
        <name>NotificationTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Contract about to expire</stringValue>
        </value>
    </variables>
    <variables>
        <name>RecipientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecipientIds1MonthBefore</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecipientIds2DaysBefore</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecipientIds3MonthsBefore</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecipientIds6MonthsBefore</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
