force-app/main/default/flows/Contract_Mgmt_Reminders_before_Expiry_Custom_notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Custom_Notification_1_month</name>
        <label>Send Custom Notification - 1 month</label>
        <locationX>851</locationX>
        <locationY>732</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type_1_month.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientId1M</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody1Month</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Custom_Notification_2_days</name>
        <label>Send Custom Notification - 2 days</label>
        <locationX>1203</locationX>
        <locationY>732</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type_2_days.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientId2days</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody2Days</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Custom_Notification_3_months</name>
        <label>Send Custom Notification - 3 months</label>
        <locationX>147</locationX>
        <locationY>732</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody3Months</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Custom_Notification_6_months</name>
        <label>Send Custom Notification - 6 months</label>
        <locationX>499</locationX>
        <locationY>939</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type_6_months.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientId6M</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody6Months</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>CollectRecipient</name>
        <label>CollectRecipient</label>
        <locationX>147</locationX>
        <locationY>624</locationY>
        <assignmentItems>
            <assignToReference>RecipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Custom_Notification_3_months</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CollectRecipient1M</name>
        <label>CollectRecipient1M</label>
        <locationX>851</locationX>
        <locationY>624</locationY>
        <assignmentItems>
            <assignToReference>RecipientId1M</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Custom_Notification_1_month</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CollectRecipient2Days</name>
        <label>CollectRecipient2Days</label>
        <locationX>1203</locationX>
        <locationY>624</locationY>
        <assignmentItems>
            <assignToReference>RecipientId2days</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Custom_Notification_2_days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CollectRecipient6M</name>
        <label>CollectRecipient6M</label>
        <locationX>501</locationX>
        <locationY>765</locationY>
        <assignmentItems>
            <assignToReference>RecipientId6M</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Custom_Notification_6_months</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_date</name>
        <label>check date</label>
        <locationX>147</locationX>
        <locationY>324</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>End_date_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_Type</targetReference>
            </connector>
            <label>End date not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_check_date</name>
        <label>Copy 1 of check date</label>
        <locationX>496</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_End_date_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_Type_6_months</targetReference>
            </connector>
            <label>Copy 1 of End date not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_check_date</name>
        <label>Copy 2 of check date</label>
        <locationX>851</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_End_date_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_Type_1_month</targetReference>
            </connector>
            <label>Copy 2 of End date not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_3_of_check_date</name>
        <label>Copy 3 of check date</label>
        <locationX>1203</locationX>
        <locationY>324</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_End_date_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_Type_2_days</targetReference>
            </connector>
            <label>Copy 3 of End date not null</label>
        </rules>
    </decisions>
    <description>This flow will send out custom notifications to users
 1) 6 months 2) 3 months 3) 1 month 4) 2 days 
 before the Contract End date of Contract Mgmt record.</description>
    <environments>Default</environments>
    <formulas>
        <description>Formula to capture date 6 months before the Contract End Date.</description>
        <name>sixMonthsBeforeEndDate</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Record.EndDate__c}), MONTH({!$Record.EndDate__c}) - 6, DAY({!$Record.EndDate__c}))</expression>
    </formulas>
    <interviewLabel>Contract Mgmt | Reminders before Expiry - Custom notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Mgmt | Reminders before Expiry - Custom notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Notification_Type</name>
        <label>Get Notification Type</label>
        <locationX>147</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CollectRecipient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract_Management_expiry_notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Type_1_month</name>
        <label>Get Notification Type - 1 month</label>
        <locationX>851</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CollectRecipient1M</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract_Management_expiry_notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Type_2_days</name>
        <label>Get Notification Type - 2 days</label>
        <locationX>1203</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CollectRecipient2Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract_Management_expiry_notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Type_6_months</name>
        <label>Get Notification Type - 6 months</label>
        <locationX>501</locationX>
        <locationY>556</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CollectRecipient6M</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract_Management_expiry_notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EndDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contract_Management__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X3_months_before_expiry</name>
            <connector>
                <targetReference>check_date</targetReference>
            </connector>
            <label>3 months before expiry</label>
            <offsetNumber>-3</offsetNumber>
            <offsetUnit>Months</offsetUnit>
            <recordField>EndDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Y6_months_before_expiry</name>
            <connector>
                <targetReference>Copy_1_of_check_date</targetReference>
            </connector>
            <label>6 months before expiry</label>
            <offsetNumber>-6</offsetNumber>
            <offsetUnit>Months</offsetUnit>
            <recordField>EndDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X1_month_before_expiry</name>
            <connector>
                <targetReference>Copy_2_of_check_date</targetReference>
            </connector>
            <label>1 month before expiry</label>
            <offsetNumber>-1</offsetNumber>
            <offsetUnit>Months</offsetUnit>
            <recordField>EndDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X2_days_before_expiry</name>
            <connector>
                <targetReference>Copy_3_of_check_date</targetReference>
            </connector>
            <label>2 days before expiry</label>
            <offsetNumber>-2</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>EndDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>NotificationBody1Month</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Contract - {!$Record.Name} is about to get expired in 1 month.</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationBody2Days</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Contract - {!$Record.Name} is about to get expired in 2 days.</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationBody3Months</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Contract - {!$Record.Name} is about to get expired in 3 months.</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationBody6Months</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Contract - {!$Record.Name} is about to get expired in 6 months.</text>
    </textTemplates>
    <variables>
        <name>NotificationTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Contract about to expire</stringValue>
        </value>
    </variables>
    <variables>
        <name>RecipientId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecipientId1M</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecipientId2days</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecipientId6M</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
