force-app/main/default/flows/Contract_Document_Send_custom_notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Custom_Notification_1_month</name>
        <label>Send Custom Notification - 1 month</label>
        <locationX>503</locationX>
        <locationY>1139</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type_1_month.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientId1M</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody1Month</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id__NotFound</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>CollectRecipient1M</name>
        <label>CollectRecipient1M</label>
        <locationX>503</locationX>
        <locationY>912</locationY>
        <assignmentItems>
            <assignToReference>RecipientId1M</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId__NotFound</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Custom_Notification_1_month</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>assign_email_alert_as_per_date</name>
        <label>assign email alert as per date</label>
        <locationX>491</locationX>
        <locationY>404</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1_month_before</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>oneMonthBeforeEndDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_Type_1_month</targetReference>
            </connector>
            <label>1 month before</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>oneMonthBeforeEndDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.Document_Expiry_Date__c} , - 1)</expression>
    </formulas>
    <interviewLabel>Contract Document | Send custom notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Document | Send custom notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Notification_Type_1_month</name>
        <label>Get Notification Type - 1 month</label>
        <locationX>503</locationX>
        <locationY>688</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CollectRecipient1M</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract_Document_expiry_notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>assign_email_alert_as_per_date</targetReference>
        </connector>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <textTemplates>
        <name>NotificationBody1Month</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Document - {!$Record.Name__NotFound} of Contract - {!$Record.Contract_Management__r__NotFound.Name} is about to get expired in 1 month.</text>
    </textTemplates>
    <variables>
        <name>NotificationTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Document about to expire</stringValue>
        </value>
    </variables>
    <variables>
        <name>RecipientId1M</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
