force-app/main/default/flows/Contract_Document_Reminder_before_expiry_Custom_notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Custom_Notification_1_month</name>
        <label>Send Custom Notification - 1 month</label>
        <locationX>500</locationX>
        <locationY>932</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type_1_month.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientId1M</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody1Month</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>CollectRecipient1M</name>
        <label>CollectRecipient1M</label>
        <locationX>500</locationX>
        <locationY>693</locationY>
        <assignmentItems>
            <assignToReference>RecipientId1M</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Custom_Notification_1_month</targetReference>
        </connector>
    </assignments>
    <description>Will send custom notifications to users before a Contract Document is expired.</description>
    <environments>Default</environments>
    <interviewLabel>Contract Document | Reminder before expiry - Custom notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Document | Reminder before expiry - Custom notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Notification_Type_1_month</name>
        <label>Get Notification Type - 1 month</label>
        <locationX>499</locationX>
        <locationY>486</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CollectRecipient1M</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract_Document_expiry_notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>357</locationX>
        <locationY>106</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Document_Expiry_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ContractDocument__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X1_month_before_expiry</name>
            <connector>
                <targetReference>Get_Notification_Type_1_month</targetReference>
            </connector>
            <label>1 month before expiry</label>
            <offsetNumber>-1</offsetNumber>
            <offsetUnit>Months</offsetUnit>
            <recordField>Document_Expiry_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>NotificationBody1Month</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Your Document - {!$Record.Name} of Contract - {!$Record.Contract_Management__r.Name} is about to get expired in 1 month.</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationBody2Days</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Contract - {!$Record.Name} is about to get expired in 2 days.</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationBody3Months</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Contract - {!$Record.Name} is about to get expired in 3 months.</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationBody6Months</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Contract - {!$Record.Name} is about to get expired in 6 months.</text>
    </textTemplates>
    <variables>
        <name>NotificationTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Document about to expire</stringValue>
        </value>
    </variables>
    <variables>
        <name>RecipientId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecipientId1M</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecipientId2days</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecipientId6M</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
