force-app/main/default/flows/Contract_Document_Send_email_notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Contract_Document_1_month_before_Email_Alert</name>
        <label>Contract Document 1 month before Email Alert</label>
        <locationX>495</locationX>
        <locationY>729</locationY>
        <actionName>ContractDocument__c.Contract_Document_1_month_before_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ContractDocument__c.Contract_Document_1_month_before_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>check_date</name>
        <label>check date</label>
        <locationX>490</locationX>
        <locationY>474</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>previous_date_doesn_t_equal_new_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Document_Expiry_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Document_Expiry_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Expiry_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>oneMonthBeforeEndDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Document_1_month_before_Email_Alert</targetReference>
            </connector>
            <label>previous date doesn&apos;t equal new date</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>oneMonthBeforeEndDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.Document_Expiry_Date__c},-1)</expression>
    </formulas>
    <interviewLabel>Contract Document | Send email notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Document | Send email notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>375</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>check_date</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Document_Expiry_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Document_Expiry_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ContractDocument__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
