force-app/main/default/flows/Content_Request_After_Flow_Currency_And_Assigned_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Non_UK</name>
        <label>Send Email to Non-UK</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Listing_Form__c.CRF_Status_Submitted_For_Not_GBP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CRF_share_id_null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Listing_Form__c.CRF_Status_Submitted_For_Not_GBP</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_UK</name>
        <label>Send Email to UK</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Listing_Form__c.CRF_Status_Submitted_For_GBP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CRF_share_id_null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Listing_Form__c.CRF_Status_Submitted_For_GBP</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Share_record_and_edit_access</name>
        <label>Share record and edit access</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>CRF_Share.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CRF_Share.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Listing_Agent_Lookup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CRF_Share.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_CRF_share</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_currency</name>
        <label>Check for currency</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>CRF_share_id_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Status_Completed_and_Currency_is_GBP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Listing__r.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GBP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_UK</targetReference>
            </connector>
            <label>If Status Completed and Currency is GBP</label>
        </rules>
        <rules>
            <name>If_Status_Completed_and_Currency_not_GBP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Listing__r.CurrencyIsoCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>GBP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Non_UK</targetReference>
            </connector>
            <label>If Status Completed and Currency not GBP</label>
        </rules>
    </decisions>
    <decisions>
        <name>CRF_share_id_null</name>
        <label>CRF share id null</label>
        <locationX>314</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CRF_share_record_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CRF_Share.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Listing_Agent_Lookup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Listing_Agent_Lookup__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Share_record_and_edit_access</targetReference>
            </connector>
            <label>CRF share record not exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>GetUserID</name>
        <dataType>String</dataType>
        <expression>IF( {!$Record.Round_Robin__c}=1, &apos;0057T0000020cwCQAQ&apos;, IF( {!$Record.Round_Robin__c}=2, &apos;0057T000002kexTQAQ&apos;,IF( {!$Record.Round_Robin__c}=3, &apos;0057T000002kDqfQAE&apos;, IF( {!$Record.Round_Robin__c}=4, &apos;0057T0000022E7sQAE&apos;, &quot;0057T0000020cwCQAQ&quot;))))</expression>
    </formulas>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>ISNEW0</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Content Request Before Flow: - Currency GBP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Content Request After Flow: - Currency And Assigned User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_CRF_share</name>
        <label>Create CRF share</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <inputReference>CRF_Share</inputReference>
    </recordCreates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_currency</targetReference>
        </connector>
        <object>Listing_Form__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NotificationBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Your content request form is created and assigned to CRF content writer&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CRF_Share</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Listing_Form__Share</objectType>
    </variables>
</Flow>
