force-app/main/default/flows/Content_Request_After_Flow_Assign_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_CRF_Assign_Alert</name>
        <label>Copy 1 of CRF Assign Alert</label>
        <locationX>974</locationX>
        <locationY>900</locationY>
        <actionName>Listing_Form__c.CRF_Assign_Alert_Content_Team</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_1_of_CRF_share_id_null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Listing_Form__c.CRF_Assign_Alert_Content_Team</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CRF_Assign_Alert</name>
        <label>CRF Assign Alert</label>
        <locationX>182</locationX>
        <locationY>900</locationY>
        <actionName>Listing_Form__c.CRF_Assign_Alert_Content_Team</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CRF_share_id_null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Listing_Form__c.CRF_Assign_Alert_Content_Team</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assign_user</name>
        <label>assign user</label>
        <locationX>996</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>userCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_user.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_user</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Share_record_and_edit_access</name>
        <label>Copy 1 of Share record and edit access</label>
        <locationX>842</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>CRF_Share.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CRF_Share.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Listing_Agent_Lookup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CRF_Share.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Create_CRF_share</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Share_record_and_edit_access</name>
        <label>Share record and edit access</label>
        <locationX>50</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>CRF_Share.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CRF_Share.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Listing_Agent_Lookup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CRF_Share.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_CRF_share</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Region</name>
        <label>Check Region</label>
        <locationX>908</locationX>
        <locationY>684</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Uk_Region</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Region__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner</targetReference>
            </connector>
            <label>Uk Region</label>
        </rules>
        <rules>
            <name>UAE_Region</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Region__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Owner</targetReference>
            </connector>
            <label>UAE Region</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_CRF_share_id_null</name>
        <label>Copy 1 of CRF share id null</label>
        <locationX>974</locationX>
        <locationY>1008</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_CRF_share_record_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CRF_Share.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Listing_Agent_Lookup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Listing_Agent_Lookup__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Share_record_and_edit_access</targetReference>
            </connector>
            <label>Copy 1 of CRF share record not exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>CRF_share_id_null</name>
        <label>CRF share id null</label>
        <locationX>182</locationX>
        <locationY>1008</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CRF_share_record_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CRF_Share.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Listing_Agent_Lookup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Listing_Agent_Lookup__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Share_record_and_edit_access</targetReference>
            </connector>
            <label>CRF share record not exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>GetUserID</name>
        <dataType>String</dataType>
        <expression>IF( {!$Record.Round_Robin__c}=1, &apos;0057T0000020cwCQAQ&apos;, IF( {!$Record.Round_Robin__c}=2, &apos;0057T000002kexTQAQ&apos;,IF( {!$Record.Round_Robin__c}=3, &apos;0057T000002kDqfQAE&apos;, IF( {!$Record.Round_Robin__c}=4, &apos;0057T000002kCKEQA2&apos;, &quot;0057T0000020cwCQAQ&quot;))))</expression>
    </formulas>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>ISNEW0</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Content Request After Flow - Assign Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Content Request After Flow - Assign Owner</label>
    <loops>
        <name>Loop_user</name>
        <label>Loop user</label>
        <locationX>908</locationX>
        <locationY>384</locationY>
        <collectionReference>get_user</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_user</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Region</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Check_Error</name>
        <label>Check Error</label>
        <locationX>578</locationX>
        <locationY>900</locationY>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MethodName__c</field>
            <value>
                <stringValue>Update Owner</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>Content Request After Flow - Assign Owner</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Check_Error</name>
        <label>Copy 1 of Check Error</label>
        <locationX>1370</locationX>
        <locationY>900</locationY>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MethodName__c</field>
            <value>
                <stringValue>Update Owner</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>Content Request After Flow - Assign Owner</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_CRF_share</name>
        <label>Copy 1 of Create CRF share</label>
        <locationX>842</locationX>
        <locationY>1224</locationY>
        <inputReference>CRF_Share</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_CRF_share</name>
        <label>Create CRF share</label>
        <locationX>50</locationX>
        <locationY>1224</locationY>
        <inputReference>CRF_Share</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_user</name>
        <label>get user details</label>
        <locationX>908</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_user</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Owner</name>
        <label>Copy 1 of Update Owner</label>
        <locationX>974</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>Copy_1_of_CRF_Assign_Alert</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Check_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Photo_Uploaded_Verify__c</field>
            <value>
                <elementReference>$Record.Listing__r.Photo_Uploaded_Verify__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner</name>
        <label>Update Owner</label>
        <locationX>182</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>CRF_Assign_Alert</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Check_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Photo_Uploaded_Verify__c</field>
            <value>
                <elementReference>$Record.Listing__r.Photo_Uploaded_Verify__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>221</locationX>
        <locationY>0</locationY>
        <object>Listing_Form__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>When_CRF_Created_1_min_After</name>
            <connector>
                <targetReference>get_user</targetReference>
            </connector>
            <label>When CRF Created 1 min After</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>NotificationBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Your content request form is created and assigned to CRF content writer&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CRF_Share</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Listing_Form__Share</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>RecordIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>userCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
