force-app/main/default/flows/Conveyance_share_with_Lux_Agent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Alert_to_Lux_Agent_User</name>
        <label>Send Email Alert to Lux Agent User</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>Conveyance_Contact_Role__c.Internal_Agent_Added_in_Contract</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Conveyance_Contact_Role__c.Internal_Agent_Added_in_Contract</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Share_record_and_read_access</name>
        <label>Share record and read access</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Conveyanceshare.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Conveyanceshare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lux_Agent__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Conveyanceshare.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Conveyance__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Conveyanceshare.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Share_Record_with_Other_Agents__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Conveyance_share</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>conveyance_share_id_null</name>
        <label>conveyance share id null</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>conveyance_share_record_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Conveyanceshare.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Share_record_and_read_access</targetReference>
            </connector>
            <label>conveyance share record not exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Luxagent_greater_than_1</name>
        <dataType>Boolean</dataType>
        <expression>({!$Record.Conveyance__r.Internal_agent_count__c}&gt;=1)</expression>
    </formulas>
    <interviewLabel>Conveyance share {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Contact Role - Contract Share with Lux Agent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Check_Error</name>
        <label>Check Error</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MethodName__c</field>
            <value>
                <stringValue>Create Conveyance share</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>Contract Contact Role - Contract Share with Lux Agent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectID__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Contract Contact Role</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Conveyance_share</name>
        <label>Create Conveyance share</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Send_Email_Alert_to_Lux_Agent_User</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Check_Error</targetReference>
        </faultConnector>
        <inputReference>Conveyanceshare</inputReference>
    </recordCreates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>conveyance_share_id_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lux_Agent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Conveyance_Contact_Role__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Conveyanceshare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Conveyance__Share</objectType>
    </variables>
</Flow>
