force-app/main/default/flows/Create_Corporate_Aml_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assigning_single_file_to_multilple_files</name>
        <label>Assigning single file to multilple files</label>
        <locationX>754</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>VarContentDocumentLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_var_null</name>
        <label>Copy 1 of var null</label>
        <locationX>402</locationX>
        <locationY>2354</locationY>
        <assignmentItems>
            <assignToReference>VarContentDocumentIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarContentDocumentIds2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarContentDocumentLinks</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarcontentdocumetLinks2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_AML_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_File_and_Aml_Record</name>
        <label>Link File and Aml Record</label>
        <locationX>754</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>VarContentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Creating_Corporate_Aml_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarContentDocumentLink.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigning_single_file_to_multilple_files</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Var_Null</name>
        <label>Var Null</label>
        <locationX>490</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>VarContentDocumentIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarContentDocumentIds2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarContentDocumentLinks</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarcontentdocumetLinks2</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>Buyer</name>
        <choiceText>Buyer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Buyer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Buyer_POA</name>
        <choiceText>Buyer POA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Buyer POA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Corporate</name>
        <choiceText>Corporate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Corporate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Individual</name>
        <choiceText>Individual</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Individual</elementReference>
        </value>
    </choices>
    <choices>
        <name>Landlord</name>
        <choiceText>Landlord</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Landlord</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Seller</name>
        <choiceText>Seller</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Seller</stringValue>
        </value>
    </choices>
    <choices>
        <name>Seller_POA</name>
        <choiceText>Seller POA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Seller POA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tenant</name>
        <choiceText>Tenant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tenant</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>null</name>
        <label>Not Null</label>
        <locationX>358</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Creating_Corporate_Aml_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>File_upload_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>error</targetReference>
            </connector>
            <label>File upload not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Yes_or_No</name>
        <label>Yes or No</label>
        <locationX>666</locationX>
        <locationY>1838</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_Create_more_AML_Record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Flow</targetReference>
            </connector>
            <label>Yes record</label>
        </rules>
        <rules>
            <name>No_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_Create_more_AML_Record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <label>No record</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AMLRecordType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AML_Type__c</picklistField>
        <picklistObject>AML__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chooseCompany</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chooseContacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RelationshipType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Relationship_Type__c</picklistField>
        <picklistObject>AML__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Residents</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Resident__c</picklistField>
        <picklistObject>AML__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Role</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Role__c</picklistField>
        <picklistObject>AML__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Upload_YOE</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Upload_Year_of_Establishment__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UploadingPassport</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Upload_Passport__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>uploadPass</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Upload_Passport__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Closing_Formula</name>
        <dataType>String</dataType>
        <expression>IF(LEFT({!recordId}, 3) == &quot;a08&quot;,{!recordId},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>Conveyance_Formula</name>
        <dataType>String</dataType>
        <expression>IF(LEFT({!recordId}, 3) == &quot;a2N&quot;,{!recordId} ,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>CurrencyFormula</name>
        <dataType>String</dataType>
        <expression>IF(LEFT({!recordId}, 3) == &quot;a0Q&quot;,TEXT({!Getting_Inquiry.CurrencyIsoCode}) , 
IF(LEFT({!recordId}, 3) == &quot;a2N&quot;, TEXT({!Getting_Conveyance.CurrencyIsoCode}),
 IF(LEFT({!recordId}, 3) == &quot;a0E&quot;,  TEXT({!Getting_Listing.CurrencyIsoCode}) ,
IF(LEFT({!recordId}, 3) == &quot;a08&quot;, TEXT({!Getting_Closing.CurrencyIsoCode}),
IF(LEFT({!recordId}, 3) == &quot;a0G&quot;, TEXT({!Getting_Offer.CurrencyIsoCode}),
IF(LEFT({!recordId}, 3) == &quot;a13&quot;, TEXT({!Getting_Property_Valuation.CurrencyIsoCode}),
&apos;&apos; ))
))))</expression>
    </formulas>
    <formulas>
        <name>FileId</name>
        <dataType>Boolean</dataType>
        <expression>{!VarContentDocumentIds}=&apos;[]&apos;</expression>
    </formulas>
    <formulas>
        <name>Inquiry_Formula</name>
        <dataType>String</dataType>
        <expression>IF(LEFT({!recordId}, 3) == &quot;a0Q&quot;,{!recordId} ,IF(LEFT({!recordId}, 3) == &quot;a08&quot;,{!Getting_Closing.Winning_Inquiry__c},&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>Listing_Formula</name>
        <dataType>String</dataType>
        <expression>IF(LEFT({!recordId}, 3) == &quot;a0E&quot;,{!recordId},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>PrimaryContact</name>
        <dataType>String</dataType>
        <expression>IF(LEFT({!recordId}, 3) == &quot;a0Q&quot; &amp;&amp; {!Getting_Inquiry.RecordTypeId} != &apos;0127T000000Gr2oQAC&apos;, {!Getting_Inquiry.pba__Contact__c} , IF(LEFT({!recordId}, 3) == &quot;a0E&quot;, {!Getting_Listing.PropertyOwnerContact__c}, 
IF(LEFT({!recordId}, 3) == &quot;a3B&quot;,{!Getting_Property_Valuation.Contact__c},
IF(LEFT({!recordId}, 3) == &quot;003&quot; ,{!recordId},&apos;&apos; ) 
)))</expression>
    </formulas>
    <formulas>
        <name>PropertyValuationFormula</name>
        <dataType>String</dataType>
        <expression>IF(LEFT({!recordId}, 3) ==  &apos;a3B&apos; ,{!recordId},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>Status_formula</name>
        <dataType>String</dataType>
        <expression>IF(
    LEFT({!recordId}, 3) == &quot;a0Q&quot;,
    IF(
        {!Getting_Inquiry.RecordTypeId} =&apos;0127T000000Gr2oQAC&apos;,
        &quot;Draft&quot;,
        &quot;Submitted&quot;
    ),
    IF(
        LEFT({!recordId}, 3) == &quot;a2N&quot;,
        &quot;Submitted&quot;,
    IF(
        LEFT({!recordId}, 3) == &quot;a3B&quot;,
        &quot;Submitted&quot;,
    IF(
        LEFT({!recordId}, 3) == &quot;a0E&quot;,
        &quot;Submitted&quot;,
        &quot;Draft&quot;
)
    )

    )
)</expression>
    </formulas>
    <interviewLabel>Create Corporate Aml Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Create Corporate Aml Screen Flow</label>
    <loops>
        <name>Extract_Record</name>
        <label>Extract Record</label>
        <locationX>666</locationX>
        <locationY>1106</locationY>
        <collectionReference>VarContentDocumentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Link_File_and_Aml_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Creating_record_from_varcontentdocumentlink</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Flow</name>
        <label>Loop Flow</label>
        <locationX>402</locationX>
        <locationY>1946</locationY>
        <collectionReference>LooprecordID</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Var_Null</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_var_null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Creating_Corporate_Aml_Record</name>
        <label>Creating Corporate Aml  Record</label>
        <locationX>666</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Extract_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_1_screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AML_Relationship_Contact_Name__c</field>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AML_Type__c</field>
            <value>
                <stringValue>Corporate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closing__c</field>
            <value>
                <elementReference>Closing_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Primary_Contact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conveyance__c</field>
            <value>
                <elementReference>Conveyance_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>CurrencyFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inquiry__c</field>
            <value>
                <elementReference>Inquiry_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Listing__c</field>
            <value>
                <elementReference>Listing_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Valuation__c</field>
            <value>
                <elementReference>PropertyValuationFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0127T000000scUlQAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <elementReference>Roles</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status_formula</elementReference>
            </value>
        </inputAssignments>
        <object>AML__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Creating_record_from_varcontentdocumentlink</name>
        <label>Creating record from varcontentdocumentlink</label>
        <locationX>666</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Getting_Aml_record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_2_screen</targetReference>
        </faultConnector>
        <inputReference>VarContentDocumentLinks</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Getting_Aml_record</name>
        <label>Getting Aml record</label>
        <locationX>666</locationX>
        <locationY>1622</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_to_Create_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Creating_Corporate_Aml_Record</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AML__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_Closing</name>
        <label>Getting Closing</label>
        <locationX>358</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Getting_Offer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pba__Closing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_Conveyance</name>
        <label>Getting Conveyance</label>
        <locationX>358</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Getting_Listing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Conveyance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_Inquiry</name>
        <label>Getting Inquiry</label>
        <locationX>358</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Getting_Conveyance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pba__Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_Listing</name>
        <label>Getting Listing</label>
        <locationX>358</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Getting_Closing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pba__Listing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_Offer</name>
        <label>Getting Offer</label>
        <locationX>358</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Getting_Property_Valuation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pba__Offer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_Property_Valuation</name>
        <label>Getting Property Valuation</label>
        <locationX>358</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_AML_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Property_Valuation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Checking_to_Create_Record</name>
        <label>Checking to Create Record</label>
        <locationX>666</locationX>
        <locationY>1730</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Yes_or_No</targetReference>
        </connector>
        <fields>
            <name>Aml_Display</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://gulfsothebysinternational.lightning.force.com/lightning/r/AML__c/{!Getting_Aml_record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); font-family: verdana; color: rgb(30, 186, 15);&quot;&gt;&lt;strong&gt;{!Getting_Aml_record.Name}&lt;/strong&gt;&lt;/a&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-family: verdana; color: rgb(30, 186, 15);&quot;&gt; is Created Successfully....!!!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_you_want_to_Create_more_AML_Record</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to Create more AML Record ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_AML_screen</name>
        <label>Create AML screen</label>
        <locationX>358</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>null</targetReference>
        </connector>
        <fields>
            <name>Roles</name>
            <choiceReferences>Buyer</choiceReferences>
            <choiceReferences>Seller</choiceReferences>
            <choiceReferences>Landlord</choiceReferences>
            <choiceReferences>Tenant</choiceReferences>
            <choiceReferences>Buyer_POA</choiceReferences>
            <choiceReferences>Seller_POA</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Role</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Primary_Contact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Primary Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>AML__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>PrimaryContact</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Company</name>
            <dataType>String</dataType>
            <fieldText>Company</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Add Company Name as per Trade License.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Upload_Files</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Upload Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VarContentDocumentIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Create AML</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>error</name>
        <label>error</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Errona</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 2, 2); background-color: rgb(255, 255, 255);&quot;&gt;Please click on Previous button and Upload the file.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_1_screen</name>
        <label>Error 1 screen</label>
        <locationX>1458</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(241, 53, 87);&quot;&gt;Oops! Something went wrong. Please contact your administrator.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(247, 10, 10);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_2_screen</name>
        <label>Error 2 screen</label>
        <locationX>1194</locationX>
        <locationY>1622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(241, 53, 87);&quot;&gt;Oops! Something went wrong. Please contact your administrator.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(247, 10, 10);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Getting_Inquiry</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Aml</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AML__c</objectType>
    </variables>
    <variables>
        <name>ConveyanceLookup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Conveyance__c</objectType>
    </variables>
    <variables>
        <name>InquiryLookup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>pba__Request__c</objectType>
    </variables>
    <variables>
        <name>ListingLookup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>pba__Listing__c</objectType>
    </variables>
    <variables>
        <name>LooprecordID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Test11</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarContentDocumentIds2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>VarContentDocumentLink1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>VarContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>VarcontentdocumetLinks2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
</Flow>
