force-app/main/default/flows/Inquiry_Pending_Request_After_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Apex_When_Pending_Date_Expired</name>
        <label>Call Apex When Pending Date Expired</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <actionName>InquiryApprovalProcessReject</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Inquiry_Red_Listed_Status_Expired</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Apex_Action_Check_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InquiryApprovalProcessReject</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_Inquiry_Red_Listed_Status_Pending_Request_Date</name>
        <label>Check Inquiry Red Listed Status &amp; Pending Request Date</label>
        <locationX>578</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Red_Listed_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pending_Request_to_Available_ExpiredDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Apex_When_Pending_Date_Expired</targetReference>
            </connector>
            <label>Status = Pending</label>
        </rules>
    </decisions>
    <description>When inquiry record is update
Schedule path is on 0 days After  
If &quot;Red Listed Status= Pending&quot; and &quot;Pending Request to Available Expired Date is null false&quot;.
then Update inquiry &quot;Red_Listed_Status__c = Expired&quot; and update unit &quot;Status__c= Available&quot;.</description>
    <environments>Default</environments>
    <interviewLabel>Inquiry Pending Request After Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inquiry Pending Request After Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Apex_Action_Check_Error</name>
        <label>Apex Action Check Error</label>
        <locationX>842</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MethodName__c</field>
            <value>
                <stringValue>Call Apex Action when pending date is Expired</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>Inquiry : After Flow - Red Listed Expired</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectID__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>inquiry</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Check_Error</name>
        <label>Check Error</label>
        <locationX>578</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MethodName__c</field>
            <value>
                <stringValue>Update Red Listed Status is Expired</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>Inquiry : After Flow - Red Listed Expired</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectID__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>inquiry</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Check_Error</name>
        <label>Check Error</label>
        <locationX>314</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MethodName__c</field>
            <value>
                <stringValue>Update Unit Status is Available</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>Inquiry : After Flow - Red Listed Expired</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectID__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>inquiry</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Inquiry_Red_Listed_Status_Expired</name>
        <label>Update Inquiry Red Listed Status = Expired</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Update_Unit_Status_Available</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Check_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Red_Listed_Status__c</field>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Unit_Status_Available</name>
        <label>Update Unit Status = Available</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <faultConnector>
            <targetReference>Copy_1_of_Check_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Unit__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </inputAssignments>
        <object>CD_Property__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <object>pba__Request__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Check_Pending_Request_to_Available_ExpiredDate</name>
            <connector>
                <targetReference>Check_Inquiry_Red_Listed_Status_Pending_Request_Date</targetReference>
            </connector>
            <label>Check Pending Request to Available ExpiredDate</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Pending_Request_to_Available_ExpiredDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
