force-app/main/default/flows/Inquiry_Chatter_post_about_Comment_for_SPA_Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Chatter post to notify inquiry owner &amp; creator about Comment for SPA &amp; Payment created or updated.</description>
        <name>Comment_created_or_changed_chatter_post</name>
        <label>Comment created or changed chatter post</label>
        <locationX>453</locationX>
        <locationY>940</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterPost</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>assign_recipient_equal</name>
        <label>assign recipient - equal</label>
        <locationX>224</locationX>
        <locationY>687</locationY>
        <assignmentItems>
            <assignToReference>recipients</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordOwnerText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Comment_created_or_changed_chatter_post</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_recipient_not_equal</name>
        <label>assign recipient - not equal</label>
        <locationX>820</locationX>
        <locationY>689</locationY>
        <assignmentItems>
            <assignToReference>recipients</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recAndCreatorText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Comment_created_or_changed_chatter_post</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_criteria</name>
        <label>check criteria</label>
        <locationX>498</locationX>
        <locationY>413</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Old_comments_do_not_equal_new_comments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Comment_for_SPA_Payment__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Comment_for_SPA_Payment__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Comment_for_SPA_Payment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_for_owner_and_creator</targetReference>
            </connector>
            <label>Old comments do not equal new comments</label>
        </rules>
    </decisions>
    <decisions>
        <description>To check if record owner is equal to record creator.</description>
        <name>check_for_owner_and_creator</name>
        <label>check for owner and creator</label>
        <locationX>497</locationX>
        <locationY>688</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>equal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CreatedById</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_recipient_equal</targetReference>
            </connector>
            <label>equal</label>
        </rules>
        <rules>
            <name>not_equal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CreatedById</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_recipient_not_equal</targetReference>
            </connector>
            <label>not equal</label>
        </rules>
    </decisions>
    <description>Will create chatter comment when Comment for SPA &amp; Payment is inserted or updated to tag inquiry owner &amp; creator</description>
    <environments>Default</environments>
    <interviewLabel>Inquiry | Chatter post about {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inquiry | Chatter post about Comment for SPA &amp; Payment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>382</locationX>
        <locationY>56</locationY>
        <connector>
            <targetReference>check_criteria</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Comment_for_SPA_Payment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Comment_for_SPA_Payment__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>pba__Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ChatterPost</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!recipients}, the Comment for SPA and Payment is - {!$Record.Comment_for_SPA_Payment__c}.</text>
    </textTemplates>
    <textTemplates>
        <name>recAndCreatorText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!$Record.OwnerId}], @[{!$Record.CreatedById}]</text>
    </textTemplates>
    <textTemplates>
        <name>recordOwnerText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!$Record.OwnerId}]</text>
    </textTemplates>
    <variables>
        <name>recipients</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
