force-app/main/default/flows/Lead_Convert_Lead_automatically.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Will convert lead because no Contact exists with same email as Lead.</description>
        <name>convert_Lead</name>
        <label>convert Lead</label>
        <locationX>499</locationX>
        <locationY>976</locationY>
        <actionName>AutoConvertLeads</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LeadIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AutoConvertLeads</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Convert_Lead_Method_for_existing_Contact</name>
        <label>Convert Lead Method for existing Contact</label>
        <locationX>690</locationX>
        <locationY>697</locationY>
        <actionName>AutoConvertLeads_ExistingContact</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objContact</name>
            <value>
                <elementReference>get_contacts_with_same_email_phone_or_mobile</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objLead</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AutoConvertLeads_ExistingContact</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>check_contacts_list</name>
        <label>check contacts list</label>
        <locationX>493</locationX>
        <locationY>693</locationY>
        <defaultConnector>
            <targetReference>Convert_Lead_Method_for_existing_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>contact exists</defaultConnectorLabel>
        <rules>
            <name>contacts_list_is_blank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_contacts_with_same_email_phone_or_mobile</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>convert_Lead</targetReference>
            </connector>
            <label>contacts list is blank</label>
        </rules>
    </decisions>
    <description>To convert Leads automatically based on email on Contact. That is, Lead will only be converted if there&apos;s no Contact with same email as Lead.</description>
    <environments>Default</environments>
    <interviewLabel>Lead | Convert Lead automatically {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead | Convert Lead automatically</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_contacts_with_same_email_phone_or_mobile</name>
        <label>get contacts with same email, phone or mobile</label>
        <locationX>504</locationX>
        <locationY>454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_contacts_list</targetReference>
        </connector>
        <filterLogic>(2 AND 1) OR (4 AND 3) OR  (6 AND 5) OR  (8 AND 7)</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Form_Submission_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Form_Submission_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Form_Submission_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_contacts_with_same_email_phone_or_mobile</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Form_Submission_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>after_1_min</name>
            <label>after 1 min</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>ConvertedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>contactsSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>inquiryRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pba__Request__c</objectType>
    </variables>
</Flow>
