force-app/main/default/flows/Listing_Send_Exclusive_Listing_Published_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Exclusive_Listing_Published</name>
        <label>Exclusive Listing Published</label>
        <locationX>725</locationX>
        <locationY>538</locationY>
        <actionName>pba__Listing__c.Exclusive_Listing_Published</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pba__Listing__c.Exclusive_Listing_Published</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Exclusive_Listing_Published_For_Country_UK_or_Saudi</name>
        <label>Exclusive Listing Published For Country UK or Saudi</label>
        <locationX>437</locationX>
        <locationY>528</locationY>
        <actionName>pba__Listing__c.Exclusive_Listing_Published_For_Country_UK_or_Saudi</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pba__Listing__c.Exclusive_Listing_Published_For_Country_UK_or_Saudi</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_Country_if_UK_or_Saudi</name>
        <label>Check Country if UK or Saudi</label>
        <locationX>544</locationX>
        <locationY>445</locationY>
        <defaultConnector>
            <targetReference>Exclusive_Listing_Published</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Country_is_UK_or_Saudi</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sharing_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sharing_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saudi</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exclusive_Listing_Published_For_Country_UK_or_Saudi</targetReference>
            </connector>
            <label>If Country is UK or Saudi</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Listing : Exclusive Listing Published {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Listing : Send Exclusive Listing Published Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>459</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Check_Country_if_UK_or_Saudi</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>gsir_mandate__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Exclusive</stringValue>
            </value>
        </filters>
        <filters>
            <field>pba__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Published</stringValue>
            </value>
        </filters>
        <object>pba__Listing__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
