force-app/main/default/flows/Listing_After_Schedule_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Form_a_Expiry_Date_Notification</name>
        <label>Form a Expiry Date Notification</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <actionName>pba__Listing__c.Form_A_Expiry_Date_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pba__Listing__c.Form_A_Expiry_Date_Notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Form_a_Expiry_Date_Notification1</name>
        <label>Form a Expiry Date Notification</label>
        <locationX>1370</locationX>
        <locationY>492</locationY>
        <actionName>pba__Listing__c.Form_A_Expiry_Date_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pba__Listing__c.Form_A_Expiry_Date_Notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Form_a_Expiry_Date_Notification2</name>
        <label>Form a Expiry Date Notification</label>
        <locationX>2162</locationX>
        <locationY>492</locationY>
        <actionName>pba__Listing__c.Form_A_Expiry_Date_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pba__Listing__c.Form_A_Expiry_Date_Notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Form_a_Expiry_Date_Notification3</name>
        <label>Form a Expiry Date Notification</label>
        <locationX>2954</locationX>
        <locationY>492</locationY>
        <actionName>pba__Listing__c.Form_A_Expiry_Date_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pba__Listing__c.Form_A_Expiry_Date_Notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notification</name>
        <label>Notification</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>PostToChatter</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_Listing</name>
        <label>Check Listing</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>For_Listing</name>
            <conditionLogic>((1 AND 2) AND (3 OR 4 OR 5)) AND ((8) OR (6) OR (7) OR (6 AND 7))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.gsir_form_a_expiry__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.gsir_form_a_expiry__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Now</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pba__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pba__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rented</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pba__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pba__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.gsir_form_a_expiry__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification</targetReference>
            </connector>
            <label>For Listing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_is_New</name>
        <label>Form A Expiry</label>
        <locationX>1634</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_new</name>
            <conditionLogic>(1 AND 2) OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.gsir_form_a_expiry__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.gsir_form_a_expiry__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_Day_10</targetReference>
            </connector>
            <label>Form A Expiry Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_is_New0</name>
        <label>Form A Expiry</label>
        <locationX>842</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_New0</name>
            <conditionLogic>(1 AND 2) OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.gsir_form_a_expiry__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.gsir_form_a_expiry__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_Day_15</targetReference>
            </connector>
            <label>Form A Expiry Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_record_is_New1</name>
        <label>Form A Expiry</label>
        <locationX>2426</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_New1</name>
            <conditionLogic>(1 AND 2) OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.gsir_form_a_expiry__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.gsir_form_a_expiry__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_Day_5</targetReference>
            </connector>
            <label>Form A Expiry Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_record_is_New2</name>
        <label>Form A Expiry</label>
        <locationX>3218</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_New2</name>
            <conditionLogic>(1 AND 2) OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.gsir_form_a_expiry__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.gsir_form_a_expiry__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_Day_1</targetReference>
            </connector>
            <label>Form A Expiry Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <interviewLabel>Listing After Schedule Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Listing After Schedule Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Notification_Day_1</name>
        <label>Notification Day 1</label>
        <locationX>2954</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Form_a_Expiry_Date_Notification3</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Notification_on_1_days</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>AED</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Your listing is about to expire and will be automatically taken offline and moved to Draft status. Please update your Form A.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Your listing is expiring in 1 day</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.PropertyOwnerContact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Notification_Day_10</name>
        <label>Notification Day 10</label>
        <locationX>1370</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Form_a_Expiry_Date_Notification1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Notification_on_10_days</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>AED</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Your listing is expiring in 10 days. Please renew your Form A .</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Listing Expiring in 10 Days.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.PropertyOwnerContact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Notification_Day_15</name>
        <label>Notification Day 15</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Form_a_Expiry_Date_Notification</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Notification_on_15_days</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>AED</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Your listing is expiring in 15 days. Please renew your Form A. </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Listing Expiring in 15 Days</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.PropertyOwnerContact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Notification_Day_5</name>
        <label>Notification Day 5</label>
        <locationX>2162</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Form_a_Expiry_Date_Notification2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Notification_on_5_days</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>AED</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Your listing is about to expire and will be automatically taken offline and moved to Draft status. Please update your Form A.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Your listing is expiring in 5 days</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.PropertyOwnerContact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Notification_on_10_days</name>
        <label>Notification on 10 days</label>
        <locationX>1634</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MethodName__c</field>
            <value>
                <stringValue>Notification Days 10</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>Listing after Schedule flow.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectID__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Notification_on_15_days</name>
        <label>Notification on 15 days</label>
        <locationX>842</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MethodName__c</field>
            <value>
                <stringValue>Notification Day 15</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>Listing after Schedule flow.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectID__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Notification_on_1_days</name>
        <label>Notification on 1 days</label>
        <locationX>3218</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MethodName__c</field>
            <value>
                <stringValue>Notification Days 1.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>Listing after Schedule flow.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectID__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Notification_on_5_days</name>
        <label>Notification on 5 days</label>
        <locationX>2426</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MethodName__c</field>
            <value>
                <stringValue>Notification Day 5</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>Listing after Schedule flow.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectID__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>1376</locationX>
        <locationY>0</locationY>
        <object>pba__Listing__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X30_Day_Notification</name>
            <connector>
                <targetReference>Check_Listing</targetReference>
            </connector>
            <label>30 Day Notification</label>
            <offsetNumber>-30</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>gsir_form_a_expiry__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X15_Day_Notification</name>
            <connector>
                <targetReference>Check_Record_is_New0</targetReference>
            </connector>
            <label>15 Day Notification</label>
            <offsetNumber>-15</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>gsir_form_a_expiry__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X10_Day_Notification</name>
            <connector>
                <targetReference>Check_Record_is_New</targetReference>
            </connector>
            <label>10 Day Notification</label>
            <offsetNumber>-10</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>gsir_form_a_expiry__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X5_Day_Notification</name>
            <connector>
                <targetReference>Check_record_is_New1</targetReference>
            </connector>
            <label>5 Day Notification</label>
            <offsetNumber>-5</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>gsir_form_a_expiry__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X1_Day_Notification</name>
            <connector>
                <targetReference>Check_record_is_New2</targetReference>
            </connector>
            <label>1 Day Notification</label>
            <offsetNumber>-1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>gsir_form_a_expiry__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NotificationSend</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;30-Day Notification&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Form A for this listing expires on {!$Record.gsir_form_a_expiry__c}&lt;/p&gt;&lt;p&gt;#FormA&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;@{!$Record.OwnerId}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;cc @[Patrick Crosbie]&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>PostToChatter</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;30-Day Notification&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Form A for this listing expires on {![pba__Listing__c].gsir_form_a_expiry__c}&lt;/p&gt;&lt;p&gt;#FormA&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;@{!$Record.OwnerId}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;cc @[Patrick Crosbie]&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ErrorLog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Error_Log__c</objectType>
    </variables>
    <variables>
        <name>NotificationUser</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reco</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CustomNotificationType</objectType>
    </variables>
</Flow>
