force-app/main/default/flows/Listing_Before_flow_Update_DateTime_based_on_Listing_Substatus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Archived_Timestamp</name>
        <label>Archived Timestamp</label>
        <locationX>3482</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Archived_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NOW_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_and_Updating_Signed_TOB_Received</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Arranging_Tenancy_Unavailable_DateTime</name>
        <label>Arranging Tenancy - Unavailable DateTime</label>
        <locationX>2426</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Arranging_Tenancy_Unavailable_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NOW_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_and_Updating_Signed_TOB_Received</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Completed_DateTime</name>
        <label>Completed DateTime</label>
        <locationX>2954</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Completed_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NOW_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_and_Updating_Signed_TOB_Received</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Content_Creation_DateTime</name>
        <label>Content Creation DateTime</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Content_Creation_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NOW_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_and_Updating_Signed_TOB_Received</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Draft_DateTime</name>
        <label>Draft DateTime</label>
        <locationX>5330</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Draft_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NOW_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_and_Updating_Signed_TOB_Received</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Exchanged_DateTime</name>
        <label>Exchanged DateTime</label>
        <locationX>2690</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Exchanged_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NOW_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_and_Updating_Signed_TOB_Received</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>For_Sale_Available_DateTime</name>
        <label>For Sale - Available	DateTime</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.For_Sale_Available_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NOW_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_and_Updating_Signed_TOB_Received</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>For_Sale_Unavailable_DateTime</name>
        <label>For Sale - Unavailable DateTime</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.For_Sale_Unavailable_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NOW_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_and_Updating_Signed_TOB_Received</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Let_DateTime</name>
        <label>Let DateTime</label>
        <locationX>5066</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Let_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NOW_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_and_Updating_Signed_TOB_Received</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Off_Market_DateTime</name>
        <label>Off Market DateTime</label>
        <locationX>3218</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Off_Market_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NOW_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_and_Updating_Signed_TOB_Received</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pending_AML_DateTime</name>
        <label>Pending AML DateTime</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pending_AML_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NOW_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_and_Updating_Signed_TOB_Received</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reserved_DateTime</name>
        <label>Reserved DateTime</label>
        <locationX>1106</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Reserved_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NOW_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_and_Updating_Signed_TOB_Received</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sold_DateTime</name>
        <label>Sold DateTime</label>
        <locationX>4802</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Sold_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NOW_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_and_Updating_Signed_TOB_Received</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Tenancy_Cancelled_DateTime</name>
        <label>Tenancy Cancelled DateTime</label>
        <locationX>4538</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Tenancy_Cancelled_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NOW_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_and_Updating_Signed_TOB_Received</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Tenancy_Current_Available_DateTime</name>
        <label>Tenancy Current - Available DateTime</label>
        <locationX>3746</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Tenancy_Current_Available_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NOW_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_and_Updating_Signed_TOB_Received</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Tenancy_Current_Unavailable_DateTime</name>
        <label>Tenancy Current - Unavailable DateTime</label>
        <locationX>4010</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Tenancy_Current_Unavailable_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NOW_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_and_Updating_Signed_TOB_Received</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Tenancy_Finished_DateTime</name>
        <label>Tenancy Finished DateTime</label>
        <locationX>4274</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Tenancy_Finished_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NOW_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_and_Updating_Signed_TOB_Received</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>To_Let_Available_DateTime</name>
        <label>To Let - Available DateTime</label>
        <locationX>1370</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.To_Let_Available_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NOW_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_and_Updating_Signed_TOB_Received</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>To_Let_Unavailable_DateTime</name>
        <label>To Let - Unavailable DateTime</label>
        <locationX>1634</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.To_Let_Unavailable_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NOW_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_and_Updating_Signed_TOB_Received</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Under_Offer_Available_DateTime</name>
        <label>Under Offer - Available DateTime</label>
        <locationX>1898</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Under_Offer_Available_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NOW_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_and_Updating_Signed_TOB_Received</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Under_Offer_Unavailable_DateTime</name>
        <label>Under Offer - Unavailable DateTime</label>
        <locationX>2162</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Under_Offer_Unavailable_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NOW_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_and_Updating_Signed_TOB_Received</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Signed_TOB_Received_DateTime</name>
        <label>Update Signed TOB Received DateTime</label>
        <locationX>2690</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Signed_TOB_Received_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NOW_Formula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Checking_and_Updating_Signed_TOB_Received</name>
        <label>Checking and Updating Signed TOB Received</label>
        <locationX>2822</locationX>
        <locationY>587</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Signed_TOB_Recived_Checkbox</name>
            <conditionLogic>1 AND 4 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Signed_TOB_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Signed_TOB_Received__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Signed_TOB_Received_DateTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Signed_TOB_Received_DateTime</targetReference>
            </connector>
            <label>Signed TOB Recived Checkbox</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_based_on_Listing_Substatus</name>
        <label>Decision based on Listing Substatus</label>
        <locationX>2822</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Checking_and_Updating_Signed_TOB_Received</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending_AML</name>
            <conditionLogic>(1 AND 2 AND 4) OR (1 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending AML</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pending_AML_DateTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pending_AML_DateTime</targetReference>
            </connector>
            <label>Pending AML</label>
        </rules>
        <rules>
            <name>Content_Creation</name>
            <conditionLogic>(1 AND 2 AND 4) OR (1 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Content Creation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Content_Creation_DateTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Content_Creation_DateTime</targetReference>
            </connector>
            <label>Content Creation</label>
        </rules>
        <rules>
            <name>For_Sale_Available</name>
            <conditionLogic>(1 AND 2 AND 4) OR (1 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>For Sale - Available</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.For_Sale_Available_DateTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_Sale_Available_DateTime</targetReference>
            </connector>
            <label>For Sale - Available</label>
        </rules>
        <rules>
            <name>For_Sale_Unavailable</name>
            <conditionLogic>(1 AND 2 AND 4) OR (1 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>For Sale - Unavailable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.For_Sale_Unavailable_DateTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_Sale_Unavailable_DateTime</targetReference>
            </connector>
            <label>For Sale - Unavailable</label>
        </rules>
        <rules>
            <name>Reserved</name>
            <conditionLogic>(1 AND 2 AND 4) OR (1 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reserved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reserved_DateTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reserved_DateTime</targetReference>
            </connector>
            <label>Reserved</label>
        </rules>
        <rules>
            <name>To_Let_Available</name>
            <conditionLogic>(1 AND 2 AND 4) OR (1 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>To Let - Available</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.To_Let_Available_DateTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>To_Let_Available_DateTime</targetReference>
            </connector>
            <label>To Let - Available</label>
        </rules>
        <rules>
            <name>To_Let_Unavailable</name>
            <conditionLogic>(1 AND 2 AND 4) OR (1 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>To Let - Unavailable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.To_Let_Unavailable_DateTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>To_Let_Unavailable_DateTime</targetReference>
            </connector>
            <label>To Let - Unavailable</label>
        </rules>
        <rules>
            <name>Under_Offer_Available</name>
            <conditionLogic>(1 AND 2 AND 4) OR (1 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Offer - Available</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Under_Offer_Available_DateTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Under_Offer_Available_DateTime</targetReference>
            </connector>
            <label>Under Offer - Available</label>
        </rules>
        <rules>
            <name>Under_Offer_Unavailable</name>
            <conditionLogic>(1 AND 2 AND 4) OR (1 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Offer - Unavailable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Under_Offer_Unavailable_DateTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Under_Offer_Unavailable_DateTime</targetReference>
            </connector>
            <label>Under Offer - Unavailable</label>
        </rules>
        <rules>
            <name>Arranging_Tenancy_Unavailable</name>
            <conditionLogic>(1 AND 2 AND 4) OR (1 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Arranging Tenancy - Unavailable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Arranging_Tenancy_Unavailable_DateTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Arranging_Tenancy_Unavailable_DateTime</targetReference>
            </connector>
            <label>Arranging Tenancy - Unavailable</label>
        </rules>
        <rules>
            <name>Exchanged</name>
            <conditionLogic>(1 AND 2 AND 4) OR (1 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exchanged</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Exchanged_DateTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exchanged_DateTime</targetReference>
            </connector>
            <label>Exchanged</label>
        </rules>
        <rules>
            <name>Completed</name>
            <conditionLogic>(1 AND 2 AND 4) OR (1 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Completed_DateTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Completed_DateTime</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
        <rules>
            <name>Off_Market</name>
            <conditionLogic>(1 AND 2 AND 4) OR (1 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Off Market</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Off_Market_DateTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Off_Market_DateTime</targetReference>
            </connector>
            <label>Off Market</label>
        </rules>
        <rules>
            <name>Archived</name>
            <conditionLogic>(1 AND 2 AND 4) OR (1 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Archived</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Archived_DateTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Archived_Timestamp</targetReference>
            </connector>
            <label>Archived</label>
        </rules>
        <rules>
            <name>Tenancy_Current_Available</name>
            <conditionLogic>(1 AND 2 AND 4) OR (1 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tenancy Current - Available</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tenancy_Current_Available_DateTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tenancy_Current_Available_DateTime</targetReference>
            </connector>
            <label>Tenancy Current - Available</label>
        </rules>
        <rules>
            <name>Tenancy_Current_Unavailable</name>
            <conditionLogic>(1 AND 2 AND 4) OR (1 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tenancy Current - Unavailable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tenancy_Current_Unavailable_DateTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tenancy_Current_Unavailable_DateTime</targetReference>
            </connector>
            <label>Tenancy Current - Unavailable</label>
        </rules>
        <rules>
            <name>Tenancy_Finished</name>
            <conditionLogic>(1 AND 2 AND 4) OR (1 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tenancy Finished</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tenancy_Finished_DateTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tenancy_Finished_DateTime</targetReference>
            </connector>
            <label>Tenancy Finished</label>
        </rules>
        <rules>
            <name>Tenancy_Cancelled</name>
            <conditionLogic>(1 AND 2 AND 4) OR (1 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tenancy Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tenancy_Cancelled_DateTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tenancy_Cancelled_DateTime</targetReference>
            </connector>
            <label>Tenancy Cancelled</label>
        </rules>
        <rules>
            <name>Sold</name>
            <conditionLogic>(1 AND 2 AND 4) OR (1 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sold_DateTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sold_DateTime</targetReference>
            </connector>
            <label>Sold</label>
        </rules>
        <rules>
            <name>Let</name>
            <conditionLogic>(1 AND 2 AND 4) OR (1 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Let</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Let_DateTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Let_DateTime</targetReference>
            </connector>
            <label>Let</label>
        </rules>
        <rules>
            <name>Draft</name>
            <conditionLogic>(1 AND 2 AND 4) OR (1 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Listing_Sub_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Draft_DateTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Draft_DateTime</targetReference>
            </connector>
            <label>Draft</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ISNEW_Formula</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>NOW_Formula</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Listing Before flow : Update DateTime based Listing Substatus {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Listing Before flow : Update DateTime based on Listing Substatus</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>2696</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_based_on_Listing_Substatus</targetReference>
        </connector>
        <object>pba__Listing__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
