force-app/main/default/flows/New_Form_A.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Form_A_Expity</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Copy 1 of Form A Expity</label>
        <locationX>2162</locationX>
        <locationY>384</locationY>
        <actionName>pba__Listing__c.Form_A_Expiry_Date_Notification_Sp</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pba__Listing__c.Form_A_Expiry_Date_Notification_Sp</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Form_A_Expity</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Form A Expity</label>
        <locationX>1634</locationX>
        <locationY>384</locationY>
        <actionName>pba__Listing__c.Form_A_Expiry_Date_Notification_Sp</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pba__Listing__c.Form_A_Expiry_Date_Notification_Sp</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_Form_A_Expity</name>
        <label>Copy 1 of Copy 1 of Form A Expity</label>
        <locationX>1106</locationX>
        <locationY>384</locationY>
        <actionName>pba__Listing__c.Form_A_Expiry_Date_Notification_Sp</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pba__Listing__c.Form_A_Expiry_Date_Notification_Sp</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Form_A_Expity</name>
        <label>Copy 1 of Form A Expity</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <actionName>pba__Listing__c.Form_A_Expiry_Date_Notification_Sp</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pba__Listing__c.Form_A_Expiry_Date_Notification_Sp</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Form_A_Expity</name>
        <label>Form A Expity</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <actionName>pba__Listing__c.Form_A_Expiry_Date_Notification_Sp</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pba__Listing__c.Form_A_Expiry_Date_Notification_Sp</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Check_Form_A</name>
        <label>Check Form A</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Form_A_30_days</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.gsir_form_a_expiry__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.gsir_form_a_expiry__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Form_A_Expity</targetReference>
            </connector>
            <label>Form A 30 days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Form_A</name>
        <label>Copy 1 of Check Form A</label>
        <locationX>710</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Form_A_30_days</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.gsir_form_a_expiry__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.gsir_form_a_expiry__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Form_A_Expity</targetReference>
            </connector>
            <label>Copy 1 of Form A 30 days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Copy_1_of_Check_Form_A</name>
        <label>Copy 1 of Copy 1 of Check Form A</label>
        <locationX>1238</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_1_of_Form_A_30_days</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.gsir_form_a_expiry__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.gsir_form_a_expiry__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Form_A_Expity</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of Form A 30 days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Check_Form_A</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Check Form A</label>
        <locationX>1766</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_Form_A_30_days</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.gsir_form_a_expiry__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.gsir_form_a_expiry__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Form_A_Expity</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of Copy 1 of Form A 30 days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Check_Form_A</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Copy 1 of Check Form A</label>
        <locationX>2294</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Form_A_30_days</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.gsir_form_a_expiry__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.gsir_form_a_expiry__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Form_A_Expity</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of Copy 1 of Copy 1 of Form A 30 days</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ISNEWs</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>New Form A {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Form A</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>914</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Listing_Initials__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GS</stringValue>
            </value>
        </filters>
        <object>pba__Listing__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X30_day_before</name>
            <connector>
                <targetReference>Check_Form_A</targetReference>
            </connector>
            <label>30 day before</label>
            <offsetNumber>-30</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>gsir_form_a_expiry__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X15_Day_before</name>
            <connector>
                <targetReference>Copy_1_of_Check_Form_A</targetReference>
            </connector>
            <label>15 Day before</label>
            <offsetNumber>-15</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>gsir_form_a_expiry__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X10_Day_Before</name>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Check_Form_A</targetReference>
            </connector>
            <label>10 Day Before</label>
            <offsetNumber>-10</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>gsir_form_a_expiry__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X5_Day_Before</name>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Check_Form_A</targetReference>
            </connector>
            <label>5 Day Before</label>
            <offsetNumber>-5</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>gsir_form_a_expiry__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X1_Day_before</name>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Check_Form_A</targetReference>
            </connector>
            <label>1 Day before</label>
            <offsetNumber>-1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>gsir_form_a_expiry__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
