force-app/main/default/flows/Offer_Screen_Flow_for_Files.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_Object</name>
        <label>Check Object</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Offer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Content_Version</targetReference>
            </connector>
            <label>Offer</label>
        </rules>
        <rules>
            <name>Letting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a3D</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Content_version1</targetReference>
            </connector>
            <label>Letting</label>
        </rules>
        <rules>
            <name>Property_Valuation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a3B</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Content_version2</targetReference>
            </connector>
            <label>Property Valuation</label>
        </rules>
        <rules>
            <name>Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a2N</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Content_version3</targetReference>
            </connector>
            <label>Contract</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Formula_Record_ID</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!ContentDocumentId.File_Type__c}),
    &apos;Offer&apos;, IF(LEFT({!RecordID}, 3) = &quot;a0G&quot;, {!RecordID}, &apos;&apos;),
    &apos;Letting&apos;, IF(LEFT({!RecordID}, 3) = &quot;a3B&quot;, {!RecordID}, &apos;&apos;),
    &apos;Property Valuation&apos;, IF(LEFT({!RecordID}, 3) = &quot;a3D&quot;, {!RecordID}, &apos;&apos;),
    &apos;Contract&apos;, IF(LEFT({!RecordID}, 3) = &quot;a2N&quot;, {!RecordID}, &apos;&apos;),
    &apos;&apos;
)</expression>
    </formulas>
    <interviewLabel>Files {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Download Draft Documents</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Content_Version</name>
        <label>Get Content Version</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_with_Offer</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>File_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Offer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_version1</name>
        <label>Get Content version1</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_with_Letting</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>File_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Letting</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_version2</name>
        <label>Get Content version2</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_with_Property_Valuation</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>File_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Property Valuation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_version3</name>
        <label>Get Content version3</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_with_Contract</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>File_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen_with_Contract</name>
        <label>Screen with Contract</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_Copy_1_of_Files_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContentVersion</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Content_version3</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Draft_Document_Names__c&quot;,&quot;guid&quot;:&quot;column-7455&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Draft Document Names&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Get_Content_Version</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ContentDocumentId</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_with_Letting</name>
        <label>Screen with Letting</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Files_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContentVersion</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Content_version1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Draft_Document_Names__c&quot;,&quot;guid&quot;:&quot;column-7455&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Draft Document Names&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Get_Content_Version</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ContentDocumentId</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_with_Offer</name>
        <label>Screen with Offer</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Files_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContentVersion</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Content_Version</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Draft_Document_Names__c&quot;,&quot;guid&quot;:&quot;column-7455&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Draft Document Names&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Get_Content_Version</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ContentDocumentId</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_with_Property_Valuation</name>
        <label>Screen with Property Valuation</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_Files_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContentVersion</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Content_version2</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Draft_Document_Names__c&quot;,&quot;guid&quot;:&quot;column-7455&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Draft Document Names&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Get_Content_Version</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ContentDocumentId</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Object</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContentDocumentId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>RecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordidnew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Formula_Record_ID</elementReference>
        </value>
    </variables>
</Flow>
