force-app/main/default/flows/Offer_Status_Timestampping_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Fall_through_Date_time</name>
        <label>Fall through Date/time</label>
        <locationX>1106</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Fall_Through_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>In_Pending_Date_time</name>
        <label>In Pending Date/time</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pending_Date_time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>In_Price_Accepted_Date_time</name>
        <label>In Price Accepted Date/time</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Price_Accepted_Date_time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>In_Progress_Date_time</name>
        <label>In Progress Date/time</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.In_Progress_Date_time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Under_Offer_Date_time</name>
        <label>Under Offer Date/time</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Under_Offer_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_If_status_IsNew_or_IsChanged</name>
        <label>Check If status IsNew or IsChanged</label>
        <locationX>710</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>In_Progress</name>
            <conditionLogic>1 AND 4 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pba__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pba__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.In_Progress_Date_time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_Progress_Date_time</targetReference>
            </connector>
            <label>In Progress</label>
        </rules>
        <rules>
            <name>Price_Accepted</name>
            <conditionLogic>1 AND 4 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pba__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Price Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pba__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Price_Accepted_Date_time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_Price_Accepted_Date_time</targetReference>
            </connector>
            <label>Price Accepted</label>
        </rules>
        <rules>
            <name>Pending</name>
            <conditionLogic>1 AND 4 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pba__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pba__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pending_Date_time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_Pending_Date_time</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
        <rules>
            <name>Under_Offer</name>
            <conditionLogic>1 AND 4 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pba__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Offer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pba__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Under_Offer_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Under_Offer_Date_time</targetReference>
            </connector>
            <label>Under Offer</label>
        </rules>
        <rules>
            <name>Fall_Through</name>
            <conditionLogic>1 AND 4 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pba__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fall Through</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pba__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fall_Through_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fall_through_Date_time</targetReference>
            </connector>
            <label>Fall Through</label>
        </rules>
    </decisions>
    <description>When a record is created or updated, Update date time fields according to status Values.</description>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Offer - Status Timestampping Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Offer - Status Timestampping Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_status_IsNew_or_IsChanged</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pba__Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>pba__Offer__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
