force-app/main/default/flows/PhotoShoot.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_timings</name>
        <label>Assign timings</label>
        <locationX>1018</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>AssignTimings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CheckEachRecTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckEachRecTime</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_timings</name>
        <label>Assign timings</label>
        <locationX>270</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>AssignTimings1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_CheckEachRecTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_CheckEachRecTime</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Copy_1_of_ShowError</name>
        <label>Copy 1 of ShowError</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <customErrorMessages>
            <errorMessage>Sorry, this time is already booked. Please choose different slot.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>ShowError</name>
        <label>ShowError</label>
        <locationX>798</locationX>
        <locationY>1139</locationY>
        <customErrorMessages>
            <errorMessage>Sorry, this time is already booked. Please choose different slot.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>check_if_same_time_event_exists</name>
        <label>check if same time event exists</label>
        <locationX>1150</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>CheckEachRecTime</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_is_not_empty</name>
            <conditionLogic>1 AND 2 AND ( ( 3 AND 4 ) OR ( 5 AND 6 ) OR ( 7 AND 8 ) )</conditionLogic>
            <conditions>
                <leftValueReference>Get_other_photoshoot_event</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CheckEachRecTime.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckEachRecTime.StartDateTime</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.StartDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckEachRecTime.EndDateTime</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.StartDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckEachRecTime.StartDateTime</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.EndDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckEachRecTime.EndDateTime</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.EndDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckEachRecTime.StartDateTime</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.StartDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckEachRecTime.EndDateTime</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.EndDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_timings</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>List is not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_check_if_same_time_event_exists</name>
        <label>check if same time event exists</label>
        <locationX>402</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_CheckEachRecTime</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_List_is_not_empty</name>
            <conditionLogic>1 AND 2 AND ( ( 3 AND 4 ) OR ( 5 AND 6 ) OR ( 7 AND 8 ) )</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_other_photoshoot_event</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Copy_1_of_CheckEachRecTime.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Copy_1_of_CheckEachRecTime.StartDateTime</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.StartDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Copy_1_of_CheckEachRecTime.EndDateTime</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.StartDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Copy_1_of_CheckEachRecTime.StartDateTime</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.EndDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Copy_1_of_CheckEachRecTime.EndDateTime</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.EndDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Copy_1_of_CheckEachRecTime.StartDateTime</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.StartDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Copy_1_of_CheckEachRecTime.EndDateTime</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.EndDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_timings</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>List is not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_IfnotNull</name>
        <label>IfnotNull</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_NotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignTimings1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_ShowError</targetReference>
            </connector>
            <label>NotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfnotNull</name>
        <label>IfnotNull</label>
        <locationX>930</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignTimings</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShowError</targetReference>
            </connector>
            <label>NotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Or_Update</name>
        <label>New Or Update</label>
        <locationX>754</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_other_photoshoot_event</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>New</label>
        </rules>
        <rules>
            <name>Update</name>
            <conditionLogic>1 AND ((2 AND 3) OR (4 AND 5))</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StartDateTime</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StartDateTime</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StartDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndDateTime</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndDateTime</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.EndDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_other_photoshoot_event</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <description>Only if record that triggered the flow is updated to meet the conditions.</description>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>PhotoShoot {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PhotoShoot</label>
    <loops>
        <name>CheckEachRecTime</name>
        <label>CheckEachRecTime</label>
        <locationX>930</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_other_photoshoot_event</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_if_same_time_event_exists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IfnotNull</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copy_1_of_CheckEachRecTime</name>
        <label>CheckEachRecTime</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <collectionReference>Copy_1_of_Get_other_photoshoot_event</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_check_if_same_time_event_exists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_IfnotNull</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_other_photoshoot_event</name>
        <label>Get other photoshoot event</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_CheckEachRecTime</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121t000000xty1AAA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled By Agent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled By Photographer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled By Client</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_other_photoshoot_event</name>
        <label>Get other photoshoot event</label>
        <locationX>930</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckEachRecTime</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121t000000xty1AAA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled By Agent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled By Photographer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled By Client</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>628</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Or_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121t000000xty1AAA</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AssignTimings</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>AssignTimings1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Event</objectType>
    </variables>
</Flow>
