force-app/main/default/flows/Project_Agency_Before_Auto_Populate_3rd_Party_Agency.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Update_3rd_Party_Agency</name>
        <label>Update 3rd Party Agency</label>
        <locationX>621</locationX>
        <locationY>345</locationY>
        <assignmentItems>
            <assignToReference>$Record.X3rd_Party_Agency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.X3rd_Party_Agent__r.AccountId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>X3rd_Party_Agent_Not_Equal_To_Null</name>
        <label>3rd Party Agent Not Equal To Null</label>
        <locationX>467</locationX>
        <locationY>266</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X3rd_Party_Agent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.X3rd_Party_Agency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_3rd_Party_Agency</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Project Agency Before - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Agency Before - Auto Populate 3rd Party Agency</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>162</locationX>
        <locationY>26</locationY>
        <connector>
            <targetReference>X3rd_Party_Agent_Not_Equal_To_Null</targetReference>
        </connector>
        <object>Project_Agency__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
