force-app/main/default/flows/Schedule_Flow_for_Expected_Dtae.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Completion_Date</name>
        <label>Completion Date</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <actionName>pba__Offer__c.Expected_Completion_Date_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordID.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pba__Offer__c.Expected_Completion_Date_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Exchange_Date</name>
        <label>Exchange Date</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <actionName>pba__Offer__c.Expected_exchange_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordID.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pba__Offer__c.Expected_exchange_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Check_date</name>
        <label>Check date</label>
        <locationX>314</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Expected_Exchange_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordID.Expected_Exchange_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TodayDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordID.Expected_Exchange_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Completion_Date</targetReference>
            </connector>
            <label>Expected Exchange Date</label>
        </rules>
        <rules>
            <name>Expected_Completion_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordID.Expected_Completion_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TodayDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordID.Expected_Completion_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exchange_Date</targetReference>
            </connector>
            <label>Expected Completion Date</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Schedule Flow for Expected Dtae {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Flow for Expected Dtae</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_date</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-03-22</startDate>
            <startTime>09:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recordID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>pba__Offer__c</objectType>
    </variables>
</Flow>
