force-app/main/default/flows/Screening_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assigning_single_files_to_multiple_files</name>
        <label>Assigning single files to multiple files</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>VarContentDocumentLink</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varContentDocumentLinks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_File</name>
        <label>Link File</label>
        <locationX>490</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varContentDocumentLinks.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Screening</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContentDocumentLinks.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContentDocumentLinks.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigning_single_files_to_multiple_files</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Not_Null_Not_Null</name>
        <label>Not Null (Not_Null)</label>
        <locationX>226</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Create_Screening</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>File_Upload_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FileUploadCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fileuploaderror</targetReference>
            </connector>
            <label>File Upload Not Null</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>varMobile</name>
        <dataType>String</dataType>
        <displayField>Mobile_Country_Code__c</displayField>
        <object>Screening_Form__c</object>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>FileUploadCheck</name>
        <dataType>Boolean</dataType>
        <expression>{!VarContentDocumentIds}=&apos;[]&apos;</expression>
    </formulas>
    <interviewLabel>Screening Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screening Form</label>
    <loops>
        <name>Extract_Record</name>
        <label>Extract Record</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <collectionReference>VarContentDocumentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Link_File</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Creating_record_from_varcontentdocumentlink</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Screening</name>
        <label>Create Screening</label>
        <locationX>402</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Extract_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>erro0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Country_Code__c</field>
            <value>
                <elementReference>recordId.Mobile_Country_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile__c</field>
            <value>
                <elementReference>Mobile.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <object>Screening_Form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Creating_record_from_varcontentdocumentlink</name>
        <label>Creating record from varcontentdocumentlink</label>
        <locationX>402</locationX>
        <locationY>866</locationY>
        <inputReference>VarContentDocumentLink</inputReference>
    </recordCreates>
    <screens>
        <name>erro0</name>
        <label>erro0</label>
        <locationX>666</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(241, 53, 87);&quot;&gt;Oops! Something went wrong. Please contact your administrator.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(247, 10, 10);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fileuploaderror</name>
        <label>Fileuploaderror</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Screen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 2, 2); background-color: rgb(255, 255, 255); font-size: 20px;&quot;&gt;Please click on Previous button and Upload the file.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Request_For_Screening</name>
        <label>Request For Screening</label>
        <locationX>226</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Not_Null_Not_Null</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>recordId.Mobile_Country_Code__c</objectFieldReference>
        </fields>
        <fields>
            <name>Mobile</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mobile</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>+971 9876543210</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Upload Passport, EID &amp; Visa</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>Passport</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VarContentDocumentIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <pauseButtonLabel>Cancel</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Request_For_Screening</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Passport</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Screening_Form__c</objectType>
    </variables>
    <variables>
        <name>VarContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
</Flow>
