force-app/main/default/flows/SCREEN_FLOW_CIF_Request_Inquiry_Ownership1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <choices>
        <name>Agent</name>
        <choiceText>Agent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Buyer</name>
        <choiceText>Buyer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Buyer</stringValue>
        </value>
    </choices>
    <choices>
        <name>CifSubType</name>
        <choiceText>{!Getting_CIF_Records.CIF_Sub_Type__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ownership</stringValue>
        </value>
    </choices>
    <choices>
        <name>Landlord</name>
        <choiceText>Landlord</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Landlord</stringValue>
        </value>
    </choices>
    <choices>
        <name>LeadSource</name>
        <choiceText>{!NewInquiryVAr.gsir_lead_source__c}</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>N_A</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ownership</name>
        <choiceText>Ownership</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ownership</stringValue>
        </value>
    </choices>
    <choices>
        <name>Seller</name>
        <choiceText>Seller</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Seller</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tenant</name>
        <choiceText>Tenant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tenant</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>NewLeadSource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>gsir_lead_source__c</picklistField>
        <picklistObject>pba__Request__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>InquiryIdLinkFormula</name>
        <dataType>String</dataType>
        <expression>HYPERLINK( &quot;/&quot; &amp; {!Getting_Inquiry_Records.Id},    &quot;Click here&quot;,   &quot;_self&quot; )</expression>
    </formulas>
    <formulas>
        <name>USERNAME</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} &amp; &apos; &apos; &amp;{!$User.LastName}</expression>
    </formulas>
    <interviewLabel>SCREEN FLOW - CIF - Request Inquiry Ownership {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCREEN FLOW - CIF - Request Inquiry Ownership</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_CIF_Created</name>
        <label>New CIF Created</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Getting_New_CIF_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Display</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CIF_Lead_Source__c</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIF_Sub_Type__c</field>
            <value>
                <stringValue>Ownership</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIF_Type__c</field>
            <value>
                <stringValue>CONTACT REQUEST</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NAME_OF_THE_OWNER__c</field>
            <value>
                <elementReference>Getting_Inquiry_Records.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>Getting_Inquiry_Records.Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Inquiry_Id__c</field>
            <value>
                <elementReference>Getting_Inquiry_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Generated_CIF__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CIF__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Getting_CIF_Records</name>
        <label>Getting CIF Records</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Getting_Inquiry_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarCIFRecords.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CIF__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_Inquiry_Records</name>
        <label>Getting Inquiry Records</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CIF_FORM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pba__Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_New_CIF_Record</name>
        <label>Getting New CIF Record</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CIF_Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_CIF_Created</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CIF__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CIF_FORM</name>
        <label>CIF FORM</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_CIF_Created</targetReference>
        </connector>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CIF_Success</name>
        <label>CIF Success</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>cifcreated</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(3, 79, 153);&quot;&gt;Your CIF has been successfully created....!!!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(6, 150, 68); font-size: 14px;&quot;&gt;{!Getting_New_CIF_Record.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>FINISH</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Display</name>
        <label>Error Display</label>
        <locationX>440</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 26, 26);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Getting_CIF_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>LinkVariable</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Getting_Inquiry_Records.CIF__r.Inquiry__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>NewInquiryVAr</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>pba__Request__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarCIF</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CIF__c</objectType>
    </variables>
    <variables>
        <name>VarCIFRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CIF__c</objectType>
    </variables>
    <variables>
        <name>varRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
