force-app/main/default/flows/Task_Before_Flow_Action_Plan_task_to_Listing_Onboarding_Team.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Task_to_Queue</name>
        <label>Assign Task to Queue</label>
        <locationX>446</locationX>
        <locationY>851</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Listing_Onboarding_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Subject_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contract_Assign_Task_Subject</name>
        <label>Contract-Assign Task Subject</label>
        <locationX>842</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>$Record.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubjectContract</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Lettings_Assign_Task_Subject</name>
        <label>Lettings-Assign Task Subject</label>
        <locationX>314</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>$Record.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubjectLettings</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Offer_Assign_Task_Subject</name>
        <label>Offer-Assign Task Subject</label>
        <locationX>146</locationX>
        <locationY>1380</locationY>
        <assignmentItems>
            <assignToReference>$Record.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubjectOffer</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>PV_Assign_Task_Subject</name>
        <label>PV-Assign Task Subject</label>
        <locationX>578</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>$Record.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TestSubjectPV</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Listing</name>
        <label>Update Listing</label>
        <locationX>446</locationX>
        <locationY>443</locationY>
        <assignmentItems>
            <assignToReference>$Record.Listing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Listing_Onboarding_Queue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Related_to_Listing</name>
        <label>Check Related to Listing</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Get_Listing_Onboarding_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Listing_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0E</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Listing</targetReference>
            </connector>
            <label>Listing Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Subject</name>
        <label>Check Subject</label>
        <locationX>592</locationX>
        <locationY>819</locationY>
        <defaultConnector>
            <targetReference>Check_Subject_Document</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Generate_Terms_Of_Business_or_Upload_EPC</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Generate Terms Of Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Upload EPC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0E</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_to_Queue</targetReference>
            </connector>
            <label>Generate Terms Of Business or Upload EPC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Subject_Document</name>
        <label>Check Subject Document</label>
        <locationX>578</locationX>
        <locationY>1151</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Request_Offer_Document_Generation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request Document</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Offer</targetReference>
            </connector>
            <label>Request Offer Document Generation</label>
        </rules>
        <rules>
            <name>Request_Lettings_Document_Generation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request Document</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a3D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lettings</targetReference>
            </connector>
            <label>Request Lettings Document Generation</label>
        </rules>
        <rules>
            <name>Request_PV_Document_Generation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request Document</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a3B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PV</targetReference>
            </connector>
            <label>Request PV Document Generation</label>
        </rules>
        <rules>
            <name>Request_Contract_Document_Generation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request Document</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a2N</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContract</targetReference>
            </connector>
            <label>Request Contract Document Generation</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SubjectContract</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Request_Document__c}) &amp;&quot; - &quot;&amp; &quot;Contract # &quot; &amp; &quot; &quot; &amp; {!GetContract.Name}</expression>
    </formulas>
    <formulas>
        <name>SubjectLettings</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Request_Document__c}) &amp;&quot; - &quot;&amp;  {!Get_Lettings.Name}</expression>
    </formulas>
    <formulas>
        <name>SubjectNameFormula</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISNULL({!Get_Lettings.Id})), &quot;Request Document &quot; &amp; {!Get_Lettings.Name}, 
IF(NOT(ISNULL({!Get_PV.Id})), &quot;Request Document &quot; &amp; {!Get_PV.Name}, 
IF(NOT(ISNULL({!GetContract.Id})), &quot;Request Document &quot; &amp; {!GetContract.Name}, 
IF(NOT(ISNULL({!Get_Offer.Id})), &quot;Request Document &quot; &amp; {!Get_Offer.Name}, &quot;Request Document&quot;))))</expression>
    </formulas>
    <formulas>
        <name>SubjectOffer</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Request_Document__c}) &amp;&quot; - &quot;&amp;  {!Get_Offer.Name}</expression>
    </formulas>
    <formulas>
        <name>TestSubjectPV</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Request_Document__c}) &amp;&quot; - &quot;&amp;  {!Get_PV.Name}</expression>
    </formulas>
    <interviewLabel>Task Before Flow - Action Plan task to Listing Onboarding Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task Before Flow - Action Plan task to Listing Onboarding Team</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lettings</name>
        <label>Get Lettings</label>
        <locationX>314</locationX>
        <locationY>1259</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lettings_Assign_Task_Subject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Letting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Listing_Onboarding_Queue</name>
        <label>Get Listing Onboarding Queue</label>
        <locationX>578</locationX>
        <locationY>635</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Subject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Listing_Onboarding_Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Offer</name>
        <label>Get Offer</label>
        <locationX>134</locationX>
        <locationY>1268</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Offer_Assign_Task_Subject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pba__Offer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PV</name>
        <label>Get PV</label>
        <locationX>578</locationX>
        <locationY>1259</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PV_Assign_Task_Subject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Property_Valuation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContract</name>
        <label>GetContract</label>
        <locationX>842</locationX>
        <locationY>1259</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contract_Assign_Task_Subject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Conveyance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Related_to_Listing</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
