force-app/main/default/flows/Task_Before_flow_update_Contact_and_Listing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Listing_lookup_to_Initial_Inquiry_listing</name>
        <label>Assign Listing lookup to Initial Inquiry listing</label>
        <locationX>50</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.Listing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Inquiry_Related_to_Task.Listing__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Listing_lookup_to_Listing</name>
        <label>Assign Listing lookup to Listing</label>
        <locationX>1106</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.Listing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Listing_Related_to_Task.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Listing_lookup_to_Offer_Listing</name>
        <label>Assign Listing lookup to Offer &gt; Listing</label>
        <locationX>578</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.Listing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Offer_Related_to_Task.pba__Listing__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Contact_Update_with_Listing_Property_Owner</name>
        <label>Contact Update with Listing Property Owner</label>
        <locationX>358</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Getting_Listing_Record.PropertyOwnerContact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Related_to_Inquiry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Contact_Field_On_Task</name>
        <label>Update Contact Field On Task</label>
        <locationX>798</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Inquiry_Records.pba__Contact__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Related_to_Inquiry</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_condition</name>
        <label>check condition</label>
        <locationX>776</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Check_If_Related_to_Inquiry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>what_id_null_Listing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0E</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_Listing_Record</targetReference>
            </connector>
            <label>what id !=null (Listing)</label>
        </rules>
        <rules>
            <name>if_What_Id_Null_Inquiry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Inquiry_Records</targetReference>
            </connector>
            <label>if What Id != Null(Inquiry)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Related_to_Inquiry</name>
        <label>Check If Related to Inquiry</label>
        <locationX>776</locationX>
        <locationY>887</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Related_to_Inquiry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Listing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Inquiry_Related_to_Task</targetReference>
            </connector>
            <label>Related to Inquiry</label>
        </rules>
        <rules>
            <name>Related_to_Offer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>aoG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Listing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Offer_Related_to_Task</targetReference>
            </connector>
            <label>Related to Offer</label>
        </rules>
        <rules>
            <name>Will_never_Work_Not_in_Use</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0E</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Listing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Listing_Related_to_Task</targetReference>
            </connector>
            <label>Will never Work , Not in Use</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Inquiry_Currency_Equals_GBP</name>
        <label>Checking Inquiry Currency Equals GBP</label>
        <locationX>182</locationX>
        <locationY>1103</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inquiry_Currency_GBP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inquiry_Related_to_Task.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GBP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Listing_lookup_to_Initial_Inquiry_listing</targetReference>
            </connector>
            <label>Inquiry Currency GBP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Listing_Currency_equals_GBP</name>
        <label>Checking Listing Currency equals GBP</label>
        <locationX>490</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Check_If_Related_to_Inquiry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Listing_Currency_GBP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Getting_Listing_Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GBP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Update_with_Listing_Property_Owner</targetReference>
            </connector>
            <label>Listing Currency GBP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Offer_Currency_Equals_GBP</name>
        <label>Checking Offer Currency Equals GBP</label>
        <locationX>710</locationX>
        <locationY>1103</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Offer_Currency_GBP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Offer_Related_to_Task.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GBP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Listing_lookup_to_Offer_Listing</targetReference>
            </connector>
            <label>Offer Currency GBP</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Task Before flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task - Before flow (Update Whoid with Contact and RelatedtoId with Listing)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Inquiry_Records</name>
        <label>Get Inquiry Records</label>
        <locationX>798</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Contact_Field_On_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pba__Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inquiry_Related_to_Task</name>
        <label>Get Inquiry Related to Task</label>
        <locationX>182</locationX>
        <locationY>995</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_Inquiry_Currency_Equals_GBP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pba__Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Listing_Related_to_Task</name>
        <label>Get Listing Related to Task</label>
        <locationX>1106</locationX>
        <locationY>995</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Listing_lookup_to_Listing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pba__Listing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Offer_Related_to_Task</name>
        <label>Get Offer Related to Task</label>
        <locationX>710</locationX>
        <locationY>995</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_Offer_Currency_Equals_GBP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pba__Offer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_Listing_Record</name>
        <label>Getting Listing Record</label>
        <locationX>490</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_Listing_Currency_equals_GBP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pba__Listing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_condition</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
