force-app/main/default/flows/Tentency_Length_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Break_Clause</name>
        <label>Break Clause</label>
        <locationX>2162</locationX>
        <locationY>384</locationY>
        <actionName>Letting__c.Tenancy_Break_Clause_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Letting__c.Tenancy_Break_Clause_Notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Break_Clause</name>
        <label>2 Break Clause</label>
        <locationX>2690</locationX>
        <locationY>384</locationY>
        <actionName>Letting__c.Tenancy_Break_Clause_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Letting__c.Tenancy_Break_Clause_Notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_Break_Clause</name>
        <label>1 Break Clause</label>
        <locationX>3218</locationX>
        <locationY>384</locationY>
        <actionName>Letting__c.Tenancy_Break_Clause_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Letting__c.Tenancy_Break_Clause_Notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Tenancy_Expiry_3</name>
        <label>Copy 1 of Tenancy Expiry 3</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <actionName>Letting__c.Tenancy_Expiry_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Letting__c.Tenancy_Expiry_Notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>gas_certificatwe</name>
        <label>gas certificatwe</label>
        <locationX>1634</locationX>
        <locationY>384</locationY>
        <actionName>Letting__c.Gas_Certificate_letting</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Letting__c.Gas_Certificate_letting</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Tenancy_Expiry</name>
        <label>Tenancy Expiry</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <actionName>Letting__c.Tenancy_Expiry_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Letting__c.Tenancy_Expiry_Notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Tenancy_Expiry2</name>
        <label>Tenancy Expiry</label>
        <locationX>1106</locationX>
        <locationY>384</locationY>
        <actionName>Letting__c.Tenancy_Expiry_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Letting__c.Tenancy_Expiry_Notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Check_Break_Clasue</name>
        <label>Check Break Clasue</label>
        <locationX>2294</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Break_Clause_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tenancy_Break_Clause__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Break_Clause</targetReference>
            </connector>
            <label>Break Clause Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checl_Tenancy_Expiry_Status</name>
        <label>Checl Tenancy Expiry Status</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tenancy_Expiry_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tenancy_end_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tenancy_Break_Clause__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Tenancy_Expiry_3</targetReference>
            </connector>
            <label>Tenancy Expiry Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Break_Clasue</name>
        <label>Copy 1 of Check Break Clasue</label>
        <locationX>2822</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Break_Clause_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tenancy_Break_Clause__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Break_Clause</targetReference>
            </connector>
            <label>2 Break Clause Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Tenancy_Expiry_Status</name>
        <label>Check Tenancy Expiry Status</label>
        <locationX>1238</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Tenancy_Expiry_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tenancy_end_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tenancy_Break_Clause__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tenancy_Expiry2</targetReference>
            </connector>
            <label>Tenancy Expiry Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Checl_Tenancy_Expiry_Status</name>
        <label>Check Tenancy Expiry Status</label>
        <locationX>710</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Tenancy_Expiry_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tenancy_end_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tenancy_Break_Clause__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tenancy_Expiry</targetReference>
            </connector>
            <label>Tenancy Expiry Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Copy_1_of_Check_Break_Clasue</name>
        <label>Copy 1 of Copy 1 of Check Break Clasue</label>
        <locationX>3350</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1_Break_Clause_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tenancy_Break_Clause__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Break_Clause</targetReference>
            </connector>
            <label>1 Break Clause Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>gas_Certificate</name>
        <label>gas Certificate</label>
        <locationX>1766</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Tenancy_Expiry_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Gas_Certificate_Expiry__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gas_certificatwe</targetReference>
            </connector>
            <label>Gas Certificate Status</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>threemonth</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Tenancy_end_Date__c}-90</expression>
    </formulas>
    <interviewLabel>Tentency Length Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tentency Length Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1442</locationX>
        <locationY>0</locationY>
        <object>Letting__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X3_month</name>
            <connector>
                <targetReference>Checl_Tenancy_Expiry_Status</targetReference>
            </connector>
            <label>3 month</label>
            <offsetNumber>-3</offsetNumber>
            <offsetUnit>Months</offsetUnit>
            <recordField>Tenancy_end_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X2_Month</name>
            <connector>
                <targetReference>Copy_1_of_Checl_Tenancy_Expiry_Status</targetReference>
            </connector>
            <label>2 Month</label>
            <offsetNumber>-2</offsetNumber>
            <offsetUnit>Months</offsetUnit>
            <recordField>Tenancy_end_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X1_Month</name>
            <connector>
                <targetReference>Copy_1_of_Check_Tenancy_Expiry_Status</targetReference>
            </connector>
            <label>1 Month</label>
            <offsetNumber>-1</offsetNumber>
            <offsetUnit>Months</offsetUnit>
            <recordField>Tenancy_end_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X1_month_gas_certificate</name>
            <connector>
                <targetReference>gas_Certificate</targetReference>
            </connector>
            <label>1 month gas certificate</label>
            <offsetNumber>-1</offsetNumber>
            <offsetUnit>Months</offsetUnit>
            <recordField>Gas_Certificate_Expiry__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X3_Month_Before_Clasue</name>
            <connector>
                <targetReference>Check_Break_Clasue</targetReference>
            </connector>
            <label>3 Month Before Clasue</label>
            <offsetNumber>-3</offsetNumber>
            <offsetUnit>Months</offsetUnit>
            <recordField>Tenancy_Break_Clause__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X2_Month_break_Cla</name>
            <connector>
                <targetReference>Copy_1_of_Check_Break_Clasue</targetReference>
            </connector>
            <label>2 Month break Clause</label>
            <offsetNumber>-2</offsetNumber>
            <offsetUnit>Months</offsetUnit>
            <recordField>Tenancy_Break_Clause__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X1_month_Break_clause</name>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Check_Break_Clasue</targetReference>
            </connector>
            <label>1 month Break clause</label>
            <offsetNumber>-1</offsetNumber>
            <offsetUnit>Months</offsetUnit>
            <recordField>Tenancy_Break_Clause__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
