force-app/main/default/flows/Update_Contact_Journey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_Lead_Source</name>
        <label>Check Lead Source</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Source</name>
            <conditionLogic>(1 AND 3) OR (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.gsir_lead_source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.gsir_lead_source__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exclusive_or_Non_Exclusive</targetReference>
            </connector>
            <label>Lead Source</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exclusive_or_Non_Exclusive</name>
        <label>Exclusive or Non Exclusive</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exclusive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0127T000000Gr2oQAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.X3rd_Party_Agency_Client__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Client_Contact_Journey</targetReference>
            </connector>
            <label>Exclusive</label>
        </rules>
        <rules>
            <name>Non_Exclusive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0127T000000Gr2oQAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pba__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Contact_Journey</targetReference>
            </connector>
            <label>Non Exclusive</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Update Contact Journey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contact Journey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Client_Contact_Journey</name>
        <label>Update Client Contact Journey</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Contact_Journey__c</field>
            <value>
                <elementReference>$Record.gsir_lead_source__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.X3rd_Party_Agency_Client__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Contact_Journey</name>
        <label>Update Contact Contact Journey</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Contact_Journey__c</field>
            <value>
                <elementReference>$Record.gsir_lead_source__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.pba__Contact__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Lead_Source</targetReference>
        </connector>
        <object>pba__Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
