force-app/main/default/flows/Update_task_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>PRETasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_For_Action_Plan_Templete_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_0</name>
        <label>Add to Collection</label>
        <locationX>138</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>POSTTASKS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecordIDD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_For_Action_Plan_Templete_Task_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_0_0</name>
        <label>Add to Collection</label>
        <locationX>138</locationX>
        <locationY>2003</locationY>
        <assignmentItems>
            <assignToReference>PREANDPOST</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecordIDDD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_For_Action_Plan_Templete_Task_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assing_Values</name>
        <label>Assing Values</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>RecordID.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordID.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordID.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_For_Action_Plan_Templete_Task.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordID.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_For_Action_Plan_Templete_Task.pba__Subject__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordID.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordID.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assing_Values_0</name>
        <label>Assing Values</label>
        <locationX>138</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>RecordIDD.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordIDD.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordIDD.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_For_Action_Plan_Templete_Task_0.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordIDD.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_For_Action_Plan_Templete_Task_0.pba__Subject__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordIDD.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordIDD.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assing_Values_0_0</name>
        <label>Assing Values</label>
        <locationX>138</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>RecordIDDD.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordIDDD.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordIDDD.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_For_Action_Plan_Templete_Task_0_0.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordIDDD.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_For_Action_Plan_Templete_Task_0_0.pba__Subject__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordIDDD.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordIDDD.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Generate_Pre_Post_Tenancy_Tasks_List_c</name>
        <label>Generate Pre Post Tenancy Tasks List</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Generate_Pre_Post_Tenancy_Tasks_List__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Generate_Pre_Post_Tenancy_Tasks_List__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Action_Plan_Templete_Task</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>When the record is created the Get the Action Plan Template and Action Plan Template Task  then Create the Task Related on Action plan Like Pre &amp; Post.</description>
    <environments>Default</environments>
    <formulas>
        <name>isnew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Update task Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Letting After Flow: Create Task (Pre&amp;Post)</label>
    <loops>
        <name>Loop_For_Action_Plan_Templete_Task</name>
        <label>Loop For Action Plan Templete Task</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Action_Plan_Templete_Task</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assing_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Task</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_For_Action_Plan_Templete_Task_0</name>
        <label>Loop For Action Plan Templete Task</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <collectionReference>Action_Plan_Templete_Task_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assing_Values_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Task_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_For_Action_Plan_Templete_Task_0_0</name>
        <label>Loop For Action Plan Templete Task</label>
        <locationX>50</locationX>
        <locationY>1787</locationY>
        <collectionReference>Action_Plan_Templete_Task_0_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assing_Values_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Task_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Pre Tenancy Tasks</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Action_Plan_Templete_Task_0</targetReference>
        </connector>
        <inputReference>PRETasks</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_0</name>
        <label>Create Post Tenancy Tasks</label>
        <locationX>50</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>Action_Plan_Templete_Task_0_0</targetReference>
        </connector>
        <inputReference>POSTTASKS</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_0_0</name>
        <label>Create Pre&amp; pOST Tenancy Tasks</label>
        <locationX>50</locationX>
        <locationY>2195</locationY>
        <inputReference>PREANDPOST</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Action_Plan_Templete_Task</name>
        <label>Action Plan Templete Task</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_For_Action_Plan_Templete_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pba__ActionPlanTemplate__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a0b7T000004LnqTQAS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pba__ActionPlanTemplateTask__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Action_Plan_Templete_Task_0</name>
        <label>Action Plan Templete Task</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_For_Action_Plan_Templete_Task_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pba__ActionPlanTemplate__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a0b7T000004LnqYQAS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pba__ActionPlanTemplateTask__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Action_Plan_Templete_Task_0_0</name>
        <label>Action Plan Templete Tasks</label>
        <locationX>50</locationX>
        <locationY>1679</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_For_Action_Plan_Templete_Task_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pba__ActionPlanTemplate__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a0b7T000004LnqdQAC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pba__ActionPlanTemplateTask__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Generate_Pre_Post_Tenancy_Tasks_List_c</targetReference>
        </connector>
        <object>Letting__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>POSTTASKS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>PREANDPOST</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>PRETasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>RecordID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>RecordIDD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>RecordIDDD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
