force-app/main/default/flows/User_After_Flow_Update_Listing_Profile_Photo_URL.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>ListingCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ListingVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Listings_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign</name>
        <label>Assign</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>ListingVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Listings_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListingVariable.Profile_Photo_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.pba__ProfilePhotoURL__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Null</name>
        <label>Check for Null</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Listings_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Listing_Owner_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Listings_Loop</targetReference>
            </connector>
            <label>Listings Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Profile_Photo_URL</name>
        <label>Check Profile Photo URL</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Profile_Photo_URL_is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pba__ProfilePhotoURL__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pba__ProfilePhotoURL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Listing_Owner_Records</targetReference>
            </connector>
            <label>Profile Photo URL is Changed</label>
        </rules>
    </decisions>
    <description>If Listing Owner or CoOwner changing Profile Photo URL then it will Update on Listing Profile photo URL.</description>
    <environments>Default</environments>
    <interviewLabel>User After Flow - Update Listing Profile Photo URL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User After Flow - Update Listing Profile Photo URL</label>
    <loops>
        <name>Listings_Loop</name>
        <label>Listings Loop</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Listing_Owner_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Listing</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Listing_Owner_Records</name>
        <label>Get Listing Owner Records</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Null</targetReference>
        </connector>
        <filterLogic>(1 OR 4) AND (2 OR 3)</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>pba__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Published</stringValue>
            </value>
        </filters>
        <filters>
            <field>pba__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sold</stringValue>
            </value>
        </filters>
        <filters>
            <field>Co_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pba__Listing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Listing</name>
        <label>Update Listing</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <inputReference>ListingCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Profile_Photo_URL</targetReference>
        </connector>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ListingCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pba__Listing__c</objectType>
    </variables>
    <variables>
        <name>ListingCoOwnerCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pba__Listing__c</objectType>
    </variables>
    <variables>
        <name>ListingCoOwnerVariables</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>pba__Listing__c</objectType>
    </variables>
    <variables>
        <name>ListingVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>pba__Listing__c</objectType>
    </variables>
</Flow>
