force-app/main/default/flows/Videoshoot_request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>New_VIDEO_PhotoShoot_Request</name>
        <label>New VIDEO &amp; PhotoShoot Request</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <actionName>pba__Listing__c.Video_Photo_Shoot_Request</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Related_Listing.selectedChoiceValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDateTime</name>
            <value>
                <elementReference>Start</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EndDateTime</name>
            <value>
                <elementReference>End</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
            <value>
                <elementReference>Created_By</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Assigned_To.selectedChoiceValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>Related_Listing.selectedChoiceValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Furnished__c</name>
            <value>
                <elementReference>FurnishedFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Location</name>
            <value>
                <elementReference>Location</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Google_Map_URL__c</name>
            <value>
                <elementReference>GoogleMapURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pba__Listing__c.Video_Photo_Shoot_Request</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <choices>
        <name>Agent1</name>
        <choiceText>{!AgentName}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>AgentName</elementReference>
        </value>
    </choices>
    <choices>
        <name>Listing</name>
        <choiceText>{!Getting_Listing.gsir_auto_Generated_broker_reference_ID__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Getting_Listing.gsir_auto_Generated_broker_reference_ID__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>PhotographerBoss1</name>
        <choiceText>Bella Gabitova&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>0057T000001m0xJQAQ</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Not_Null</name>
        <label>Not Null</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>New_VIDEO_PhotoShoot_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>doc_not_uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FileUploadCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FileUpload</targetReference>
            </connector>
            <label>doc not uploaded</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>UsersSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AgentName</name>
        <dataType>String</dataType>
        <expression>{!Getting_Listing.Owner:User.Name}</expression>
    </formulas>
    <formulas>
        <name>FileUploadCheck</name>
        <dataType>Boolean</dataType>
        <expression>{!VarContentDocumentIds}=&apos;[]&apos;</expression>
    </formulas>
    <formulas>
        <name>FurnishedFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF(TEXT({!Getting_Listing.pba_uaefields__Furnished__c}) = &apos;Yes&apos;, true, false)</expression>
    </formulas>
    <formulas>
        <name>GoogleMapURL</name>
        <dataType>String</dataType>
        <expression>&apos;https://www.google.com/maps/search/&apos;+{!Getting_Listing.pba_uaefields__Propertyfinder_Region__c} &amp;&quot; &quot;&amp;{!Getting_Listing.gsir_unit_number__c}</expression>
    </formulas>
    <formulas>
        <name>LocationFormula</name>
        <dataType>String</dataType>
        <expression>{!Getting_Listing.gsir_unit_number__c} &amp;&quot; &quot;&amp; {!Getting_Listing.pba_uaefields__Propertyfinder_Region__c}</expression>
    </formulas>
    <interviewLabel>Videoshoot request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Videoshoot request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Getting_Listing</name>
        <label>Getting Listing</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>header</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pba__Listing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>FileUpload</name>
        <label>FileUpload</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FIleUploadError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 2, 2);&quot;&gt;Please click on Previous button and Upload the file.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>header</name>
        <label>header</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Not_Null</targetReference>
        </connector>
        <fields>
            <name>New_Video_Photo_shoot_Request</name>
            <fieldText>New Video &amp; Photo shoot Request</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Video_Photo_shoot_Request_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Getting_Listing.pba__ListingAgentName__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Created_By</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>AgentName</elementReference>
                    </defaultValue>
                    <fieldText>Created By</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Subject</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Getting_Listing.Name</elementReference>
                    </defaultValue>
                    <fieldText>Subject</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Related_Listing</name>
                    <choiceReferences>Listing</choiceReferences>
                    <defaultValue>
                        <elementReference>Getting_Listing.gsir_auto_Generated_broker_reference_ID__c</elementReference>
                    </defaultValue>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Related Listing</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Location</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>LocationFormula</elementReference>
                    </defaultValue>
                    <fieldText>Location</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>MapURL</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Google Map URL</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>GoogleMapURL</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Video_Photo_shoot_Request_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDateTime</elementReference>
                    </defaultValue>
                    <fieldText>Start</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>End</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDateTime</elementReference>
                    </defaultValue>
                    <fieldText>End</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Assigned_To</name>
                    <choiceReferences>PhotographerBoss1</choiceReferences>
                    <defaultValue>
                        <stringValue>0057T000001m0xJQAQ</stringValue>
                    </defaultValue>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Assigned To</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Unit_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Getting_Listing.gsir_unit_number__c</elementReference>
                    </defaultValue>
                    <fieldText>Unit Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Furnished</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Getting_Listing.pba_uaefields__Furnished__c</elementReference>
                    </defaultValue>
                    <fieldText>Furnished</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>header_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>header_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FormA</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Upload Form A</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>title</name>
                        <value>
                            <stringValue>Upload Form A</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fileNames</name>
                        <value>
                            <elementReference>FormAHolder</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Getting_Listing</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>FormAHolder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
