force-app/main/default/flows/Work_order_Before_Flow_Sharing_region.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Work_order_Region_equals_Listing_Region</name>
        <label>Work order Region equals Listing Region</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Sharing_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Listing__r.Sharing_Region__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sharing_Sub_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Listing__r.Sharing_Sub_Region__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Listing__r.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Listing_not_null</name>
        <label>Listing not null</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Listing_is_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Listing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Work_order_Region_equals_Listing_Region</targetReference>
            </connector>
            <label>Listing is available</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Work order Before Flow - Sharing region {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work order Before Flow - Sharing region</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Listing_not_null</targetReference>
        </connector>
        <object>Work_Order__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
